<style>
/*Table CSS*/
    
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 100%;
        /*        border: 1px solid #fafafa;*/
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CSSTableGenerator table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .CSSTableGenerator tr:last-child td:last-child {
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .CSSTableGenerator table tr:first-child td:first-child {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .CSSTableGenerator table tr:first-child td:last-child {
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .CSSTableGenerator tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .CSSTableGenerator tr:hover td {}
    
    .CSSTableGenerator tr:nth-child(odd) {
        background-color: #fafafa;
    }
    
    .CSSTableGenerator tr:nth-child(even) {
        background-color: #ffffff;
    }
    
    .CSSTableGenerator td {
        vertical-align: middle;
        border: 1px solid #e3e3e3;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 3px;
        font-size: 11px;
        font-family: 'leela';
        font-weight: normal;
        color: #FFF5E9;
    }
    
    .CSSTableGenerator tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }
    
    .CSSTableGenerator tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }
    
    .CSSTableGenerator tr:first-child td {
        background: -o-linear-gradient(bottom, #e62737 5%, #e62737 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e62737), color-stop(1, #e62737));
        background: -moz-linear-gradient( center top, #e62737 5%, #e62737 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e62737", endColorstr="#e62737");
        background: -o-linear-gradient(top, #e62737, e62737);
        background-color: #e62737;
        border: 0px solid #fafafa;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 16px;
        font-family: 'leela';
        font-weight: bold;
        color: #ffffff;
    }
    
    .CSSTableGenerator tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #e62737 5%, #e62737 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e62737), color-stop(1, #e62737));
        background: -moz-linear-gradient( center top, #e62737 5%, #e62737 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e62737", endColorstr="#e62737");
        background: -o-linear-gradient(top, #e62737, e62737);
        background-color: #e62737;
    }
    
    .CSSTableGenerator tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }
    /*END of table CSS*/
</style>
<vivo-header></vivo-header>

<div class="mob-top-pad visible-xs hidden-sm hidden-md">
    
<div class="row">
 <div class="col-xs-7 vivocarat-heading">BANGLE SIZER</div>

 <div class="col-xs-5 categoryGrad">

 </div>
</div> 
    

    <div class="row">
        <div class="col-xs-12 normal-text">
            This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/1.png">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/2.png">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-60px">
        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/3.png">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/4.png">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 chart-description">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>

    <div class="row CSSTableGenerator text-center padding-left-15px padding-right-15px">
        <div class="col-xs-12 text-center">
            <table style="border: 1px solid #E3E3E3;padding-right:25px;padding-left:25px">
                <tr>
                    <td style="color: #FFF5E9 !important;">
                        Bangle Size
                    </td>
                    <td colspan="2" style="color: #FFF5E9 !important;">
                        Circumference
                    </td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        Inches
                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        MM
                    </td>
                </tr>
                <tr>
                    <td>
                        2.2
                    </td>
                    <td>
                        6.67
                    </td>
                    <td>
                        169.41
                    </td>
                </tr>
                <tr>
                    <td>
                        2.3
                    </td>
                    <td>
                        6.86
                    </td>
                    <td>
                        174.24
                    </td>
                </tr>
                <tr>
                    <td>
                        2.4
                    </td>
                    <td>
                        7.06
                    </td>
                    <td>
                        179.32
                    </td>
                </tr>
                <tr>
                    <td>
                        2.5
                    </td>
                    <td>
                        7.26
                    </td>
                    <td>
                        184.4
                    </td>
                </tr>
                <tr>
                    <td>
                        2.6
                    </td>
                    <td>
                        7.46
                    </td>
                    <td>
                        189.48
                    </td>
                </tr>
                <tr>
                    <td>
                        2.7
                    </td>
                    <td>
                        7.65
                    </td>
                    <td>
                        194.31
                    </td>
                </tr>
                <tr>
                    <td>
                        2.8
                    </td>
                    <td>
                        7.85
                    </td>
                    <td>
                        199.39
                    </td>
                </tr>
                <tr>
                    <td>
                        2.9
                    </td>
                    <td>
                        8.04
                    </td>
                    <td>
                        204.22
                    </td>
                </tr>
                <tr>
                    <td>
                        2.1
                    </td>
                    <td>
                        8.24
                    </td>
                    <td>
                        209.3
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="row padding-top-60px">
        <div class="col-xs-12 normal-text">BRACELETS
            <br/> This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-60px">
        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/1.png">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/2.png">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-60px">
        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/3.png">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <img src="images/mobile/bangleguide/steps/4.png">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 chart-description">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>


    <div class="row CSSTableGenerator text-center">
        <div class="col-xs-12 text-center" style="padding-right:35%;padding-left:35%;margin-bottom:30px">
            <table style="border: 1px solid #E3E3E3;">

                <tr>
                    <td style="color: #FFF5E9 !important;">Tennis Bracelet Sizes</td>
                </tr>
                <tr>
                    <td class="padding-left-10px">5.5 inches</td>
                </tr>
                <tr>
                    <td class="padding-left-10px">6.5 inches</td>
                </tr>
                <tr>
                    <td class="padding-left-10px">7.5 inches</td>
                </tr>
                <tr>
                    <td class="padding-left-10px">8.5 inches</td>
                </tr>


            </table>
        </div>

    </div>

</div>


<div class="mob-top-pad visible-sm hidden-xs visible-md">
    
<div class="row">
 <div class="col-sm-4 vivocarat-heading-sm">BANGLE SIZER</div>

 <div class="col-sm-8 categoryGrad-sm">

 </div>
</div> 

    <div class="row">
        <div class="col-sm-12 normal-text">
            This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/1.png">

            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/2.png">
            <div class="row padding-top-10px">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row margin-top-30px">
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/3.png">

            <div class="row padding-top-10px">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/4.png">
            <div class="row padding-top-10px">
                <div class="col-xs-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12 chart-description margin-top-30px padding-top-0px" style="padding-bottom:0px;">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>

    <div class="row CSSTableGenerator text-center" style="padding-right:25px;padding-left:25px;margin-bottom:30px;margin-top: 25px;">
        <div class="col-sm-12 text-center no-pad">
            <table style="border: 1px solid #E3E3E3;">
                <tr>
                    <td style="color: #FFF5E9 !important;font-size:16px">
                        Bangle Size
                    </td>
                    <td colspan="2" style="color: #FFF5E9 !important;font-size:16px">
                        Circumference
                    </td>

                </tr>
                <tr>
                    <td>

                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        Inches
                    </td>
                    <td style="font-weight:bold;font-size:16px;">
                        MM
                    </td>
                </tr>
                <tr>
                    <td>
                        2.2
                    </td>
                    <td>
                        6.67
                    </td>
                    <td>
                        169.41
                    </td>
                </tr>
                <tr>
                    <td>
                        2.3
                    </td>
                    <td>
                        6.86
                    </td>
                    <td>
                        174.24
                    </td>
                </tr>
                <tr>
                    <td>
                        2.4
                    </td>
                    <td>
                        7.06
                    </td>
                    <td>
                        179.32
                    </td>
                </tr>
                <tr>
                    <td>
                        2.5
                    </td>
                    <td>
                        7.26
                    </td>
                    <td>
                        184.4
                    </td>
                </tr>
                <tr>
                    <td>
                        2.6
                    </td>
                    <td>
                        7.46
                    </td>
                    <td>
                        189.48
                    </td>
                </tr>
                <tr>
                    <td>
                        2.7
                    </td>
                    <td>
                        7.65
                    </td>
                    <td>
                        194.31
                    </td>
                </tr>
                <tr>
                    <td>
                        2.8
                    </td>
                    <td>
                        7.85
                    </td>
                    <td>
                        199.39
                    </td>
                </tr>
                <tr>
                    <td>
                        2.9
                    </td>
                    <td>
                        8.04
                    </td>
                    <td>
                        204.22
                    </td>
                </tr>
                <tr>
                    <td>
                        2.1
                    </td>
                    <td>
                        8.24
                    </td>
                    <td>
                        209.3
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="row padding-top-30px">
        <div class="col-sm-12 normal-text">BRACELETS
            <br/> This method illustrates the steps which will be helpful in determining your ring size.
            <br/> Please make sure you compare your measurement with the chart below.
        </div>
    </div>

    <div class="row margin-top-30px">
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/1.png">

            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/2.png">
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row margin-top-30px">
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/3.png">

            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
        
        <div class="col-sm-6">
            <img src="images/mobile/bangleguide/steps/4.png">
            <div class="row padding-top-10px">
                <div class="col-sm-12">
                    <img src="http://placehold.it/387x282">
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="row">
        <div class="col-sm-12 chart-description margin-top-30px padding-top-0px" style="padding-bottom:0px;margin-bottom:25px;">
            Check your measurement with the chart below to determine your ring size.
        </div>
    </div>


    <div class="row CSSTableGenerator text-center">
        <div class="col-sm-12 text-center" style="padding-right:25px;padding-left:25px;margin-bottom:30px">
            <table style="border: 1px solid #E3E3E3;">

                <tr>
                    <td style="color: #FFF5E9 !important;font-size:13px">Tennis Bracelet Sizes</td>
                </tr>
                <tr>
                    <td>5.5 inches</td>
                </tr>
                <tr>
                    <td>6.5 inches</td>
                </tr>
                <tr>
                    <td>7.5 inches</td>
                </tr>
                <tr>
                    <td>8.5 inches</td>
                </tr>
            </table>
        </div>
    </div>
</div>



<vivo-footer></vivo-footer>