<style>
    .panel-group .panel {
        border-radius: 0px;
    }
</style>
<!--mobile screen-->
<vivo-header></vivo-header>

<div class="mob-top-pad visible-xs hidden-md hidden-sm margin-top-20px">
    
<div data-ng-hide="!authenticated || isLoaded" class="mob-top-pad visible-xs hidden-md hidden-sm margin-top-20px">
<div align="center" class="margin-top-20px">
 <div class="row text-center home-panel-row">
  <div class="well normal-text margin-top-40px">
      Please wait...
  </div>
 </div>
</div>
</div>
    
<div class="register_account" data-ng-show="!isauthenticated || isLoaded">
        
 <div class="wrap well" data-ng-show="!authenticated">
  <h4 class="title">
           Not Logged In
  </h4>
  <p class="padding-top-20px normal-text" style="font-size:16px;">
      You have no items in your shopping cart.
  <br>Kindly <a href="#login/0" class="underline vivocarat-theme-colour bold-font">login</a> to to see your orders
  </p>
 </div>
        

<div class="row">
 <div class="wrap well" data-ng-show="orderHistoryList.length<1">
  <p class="normal-text padding-top-20px padding-bottom-20px">
      No orders placed yet
  </p>
 </div>
    
<div data-ng-repeat="o in orderHistoryList track by $index">
    
<h4 class="panel-title">
<div class="row">
 <div class="col-xs-12 order-id">
     Order Id: {{o.id}} 
 </div>
    
 <div class="col-xs-12 order-placed-on">
     Placed on {{o.created_at}}
 </div>
                            
 <div class="col-xs-12 total-order-amount">
     Total amount Rs. {{o.total | INR}}
 </div>
</div>
</h4>
                    
<div class="col-xs-12 padding-top-20px padding-bottom-20px" data-ng-repeat="c in o.products track by $index">
    
<!--
<div class="col-xs-1 pull-right rightrem" style="font-size: 10px; color:#E62739 !important">
    
</div>
-->
    
<div class="row">
 <div class="col-xs-3 no-pad">
  <img src="https://www.vivocarat.com/images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border">
 </div>
    
 <div class="col-xs-9">
  <div class="row">
    <a href="#p/{{c.item.id}}" class="product-title">{{c.item.title}}</a>
  </div>
     
  <div class="row margin-top-10px">
<!--
   <div data-ng-show="p.category=='Rings' || p.category=='Bangles' || p.category=='Bracelets'" class="col-xs-6 no-pad">
    <p class="size-text">
           Size:{{c.size}}
    </p>
  </div>
-->
  
   <div class="col-xs-6 no-pad">
    <p class="size-text">
        Qty:{{c.quantity}}
    </p>
   </div>
      
    <div ng-show="c.item.ring_size != null && c.item.ring_size != '' && c.item.ring_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.ring_size}}
        </p>
    </div>
      
    <div ng-show="c.item.bangle_size != null && c.item.bangle_size != '' && c.item.bangle_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.bangle_size}}
        </p>
    </div>  
      
    <div ng-show="c.item.bracelet_size != null && c.item.bracelet_size != '' && c.item.bracelet_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.bracelet_size}}
        </p>
    </div>      
      
  </div>
     
 </div>
</div>
</div>
    
<div class="row" data-ng-if="o.status=='DELIVERED' || o.status=='NOT_CONFIRMED' || o.status=='NOT_CONFIRMED'">
 <div class="col-xs-12">
     
  <hr style="border:1px solid #eee !important;">
     
  <div class="row">
                            
   <div class="col-xs-6">
    <a class="btn cancel-button" data-ng-click="returnOrder(o.id)" data-ng-if="o.status=='DELIVERED'">
      RETURN
    </a>
  
    <a class="btn cancel-button" data-ng-click="cancelOrder(o.id)" data-ng-if="o.status=='NOT_CONFIRMED'">
      CANCEL
    </a>
       
    <a class="btn cancel-button" data-ng-click="buyNow(o)" data-ng-if="o.status=='NOT_CONFIRMED'">
      BUY NOW
    </a>   
     
  </div>
 </div>
     
<hr style="border:1px solid #eee !important;">
     
</div>
</div>
    
<div class="process">
<div class="process-row">
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">ORDERED</p>
     
  <a data-ng-class="o.status=='NOT_CONFIRMED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='NOT_CONFIRMED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='NOT_CONFIRMED'">
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">CONFIRMED</p>
     
  <a data-ng-class="o.status=='CONFIRMED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='CONFIRMED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='CONFIRMED'">
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">PROCESSING</p>
     
  <a data-ng-class="o.status=='PROCESSING'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='PROCESSING'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='PROCESSING'"> 
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">SHIPPING</p>
     
  <a data-ng-class="o.status=='DISPATCHED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='DISPATCHED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='DISPATCHED'">
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">DELIVERY</p>
     
  <a data-ng-class="o.status=='DELIVERED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='DELIVERED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='DELIVERED'">
      
  </a>
     
 </div>
                            
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style">THANK YOU</p>
     
  <a data-ng-class="o.status=='RECEIVED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/thank.png">
      
  </a>
     
 </div>
</div>
</div>
    
<div class="row padding-bottom-60px margin-bottom-20px">
 <div class="col-xs-6 text-center no-pad">
  <a href="mailto:hello@vivocarat.com?subject=Order id : {{o.id}}&body=Hi,<br/>" target="_blank">
   <img src="https://www.vivocarat.com/images/orders/icons/email.png">
    <span class="normal-text bold-font">
      &nbsp;hello@vivocarat.com
    </span>
  </a>
 </div>
    
 <div class="col-xs-6 text-center no-pad">
  <a href="tel:+91-916-764-5314">
   <img src="https://www.vivocarat.com/images/orders/icons/phone.png">
    <span class="normal-text bold-font">
      +91&nbsp;9167645314
    </span>
  </a>
 </div>
    
</div>
</div>
</div>
        
</div>
    
</div>

<!--Tablet screen-->
<div class="mob-top-pad visible-sm visible-md hidden-xs margin-top-20px">    
    
<div data-ng-hide="!authenticated || isLoaded" class="mob-top-pad visible-xs hidden-md hidden-sm margin-top-20px">
    
<div align="center" class="margin-top-20px">
<div class="row text-center home-panel-row">
 <div class="well normal-text margin-top-40px">Please wait...</div>
</div>
</div>
    
</div>
    
<div class="register_account" data-ng-show="!isauthenticated || isLoaded">
 <div class="wrap well" data-ng-show="!authenticated">
  <h4 class="title">
           Not Logged In
  </h4>
     
  <p class="padding-top-20px normal-text" style="font-size:20px;">
    You have no items in your shopping cart.
    <br>
    Kindly 
    <a href="#login/0" class="underline vivocarat-theme-colour bold-font">
      login
    </a> 
    to see your orders
  </p>
</div>
    
       
<div class="row home-panel-row">
 <div class="wrap well" data-ng-show="orderHistoryList.length<1">
  <p class="cart">
      No orders placed yet
  </p>
 </div>
    
<div data-ng-repeat="o in orderHistoryList track by $index">
    
<h4 class="panel-title">
<div class="row">
 <div class="col-xs-12 order-id">
     Order Id: {{o.id}} 
 </div>
    
 <div class="col-xs-12 order-placed-on">
     Placed on {{o.created_at}} 
 </div>
                            
 <div class="col-xs-12 total-order-amount">
     Total amount Rs: {{o.total | INR}}
 </div>
</div>
</h4>
    
<div class="col-xs-12 padding-top-20px padding-bottom-20px" data-ng-repeat="c in o.products track by $index">
                        
<!--
<div class="col-xs-1 pull-right rightrem" style="font-size: 10px; color:#E62739 !important">

</div>
-->
    
<div class="row">
 <div class="col-xs-3 no-pad">
  <img src="https://www.vivocarat.com/images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border">
 </div>
    
 <div class="col-xs-9">
  <div class="row">
   <a href="#p/{{c.item.id}}" class="product-title">{{c.item.title}}</a>
  </div>
     
  <div class="row margin-top-10px">
<!--
   <div data-ng-show="p.category=='Rings' || p.category=='Bangles' || p.category=='Bracelets'" class="col-xs-6 no-pad">
    <p class="size-text">
         Size:{{c.size}}
    </p>
   </div>
-->
      
   <div class="col-xs-6 no-pad">
    <p class="size-text">
         Qty:{{c.quantity}}
    </p>
   </div>
      
    <div ng-show="c.item.ring_size != null && c.item.ring_size != '' && c.item.ring_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.ring_size}}
        </p>
    </div>
      
    <div ng-show="c.item.bangle_size != null && c.item.bangle_size != '' && c.item.bangle_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.bangle_size}}
        </p>
    </div>  
      
    <div ng-show="c.item.bracelet_size != null && c.item.bracelet_size != '' && c.item.bracelet_size != 0" class="col-xs-6 no-pad">
        <p class="size-text">
             Size:{{c.item.bracelet_size}}
        </p>
    </div>        
  </div>
     
 </div>
</div>
</div>
    
<div style="padding-right:13px;padding-left:13px;">
    
 <hr style="border:1px solid #eee !important">
    
 <div class="row">
                            
  <div class="col-xs-6 no-pad">
   <a class="btn cancel-button" data-ng-click="returnOrder(o.id)" data-ng-if="o.status=='DELIVERED'">
       RETURN
   </a>
   <a class="btn cancel-button" data-ng-click="cancelOrder(o.id)" data-ng-if="o.status=='NOT_CONFIRMED'">
       CANCEL
   </a>
    <a class="btn cancel-button" data-ng-click="buyNow(o)" data-ng-if="o.status=='NOT_CONFIRMED'">
      BUY NOW
    </a>  
  </div>
 </div>
    
 <hr style="border:1px solid #eee !important">
    
</div>
    
<div class="process">
<div class="process-row">
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style-sm">ORDERED</p>
     
  <a data-ng-class="o.status=='NOT_CONFIRMED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='NOT_CONFIRMED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='NOT_CONFIRMED'">
      
  </a>
                            
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style-sm">CONFIRMED</p>
     
  <a data-ng-class="o.status=='CONFIRMED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='CONFIRMED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='CONFIRMED'">
      
  </a>
                                
 </div>
    
 <div class="process-step col-xs-2 no-pad">
                                
  <p class="feedback-style-sm">PROCESSING</p>
     
  <a data-ng-class="o.status=='PROCESSING'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='PROCESSING'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='PROCESSING'"> 
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style-sm">SHIPPING</p>
     
  <a data-ng-class="o.status=='DISPATCHED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='DISPATCHED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='DISPATCHED'">
      
  </a>
     
 </div>
                            
 <div class="process-step col-xs-2 no-pad">
     
  <p class="feedback-style-sm">DELIVERY</p>
     
  <a data-ng-class="o.status=='DELIVERED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
   <img src="https://www.vivocarat.com/images/orders/icons/grey-circle.png" data-ng-if="o.status!='DELIVERED'">
      
   <img src="https://www.vivocarat.com/images/orders/icons/green-circle.png" data-ng-if="o.status=='DELIVERED'">
      
  </a>
     
 </div>
    
 <div class="process-step col-xs-2 no-pad">
                                
  <p class="feedback-style-sm">THANK YOU</p>
     
  <a data-ng-class="o.status=='RECEIVED'?'btn-success btn-circle':'btn-default btn-circle'" disabled="disabled">
      
    <img src="https://www.vivocarat.com/images/orders/icons/thank.png">
      
  </a>
                            
 </div>
    
</div>
</div>
    
<div class="row" style="margin-bottom:30px;">
    
 <div class="col-xs-6 text-center no-pad">
  <img src="https://www.vivocarat.com/images/orders/icons/email.png">
  <span class="normal-text bold-font">
      &nbsp;hello@vivocarat.com
  </span>
 </div>
                        
 <div class="col-xs-6 text-center no-pad">
  <img src="https://www.vivocarat.com/images/orders/icons/phone.png">
  <span class="normal-text bold-font">
      +91&nbsp;9167645314
  </span>
 </div>
</div>
                
</div>
</div>
       
</div>
</div>

<vivo-footer></vivo-footer>

<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reason for Return</h4>
            </div>
            <div class="modal-body">
                <textarea style="width:100%;resize:none;" data-ng-model="reason"></textarea>
            </div>
            <div class="modal-footer">
                <a data-ng-click="forgotPassword()" class="btn btn-default btn-sx" data-dismiss="modal">Cancel</a>
                <a data-ng-click="returnOrderConfirm(rid,reason)" data-ng-click="forgotPassword()" class="btn btn-vivo btn-sm"> Return Order</a>
            </div>
        </div>
    </div>
</div>