<style>
.panel-default>.panel-heading {
        border: none;
        background-color: white;
    }
    
    .panel-default {
        border: none;
    }
    
    li.active {
        border-bottom: 3px solid #E62739;
    }
    
    .product {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    
    .colfont {
        color: #7e7e7e !important;
        font-family: 'leela' !important;
    }

    .panelpad {
        padding-top: 0px;
        padding: 0px !important;
    }
    
    .panhead {
        padding-left: 0px;
    }

    .product-accordion {
        -webkit-box-shadow: 0px 5px 6px -2px rgba(210, 210, 210, 0.7);
        -moz-box-shadow: 0px 5px 6px -2px rgba(210, 210, 210, 0.7);
        box-shadow: 0px 5px 6px -2px rgba(210, 210, 210, 0.7);
    }
    
</style>

<div class="container mob-top-pad visible-xs hidden-sm hidden-md padding-bottom-60px">
    
<vivo-header></vivo-header>
 
<div class="row padding-top-20px">
 <div class="col-xs-12 text-center no-pad">
  <span class="order-placed-text">
      Your order has been placed
   <p>thank you for your order</p>
  </span>
 </div>   
</div>
    
<div class="row">
 <div class="col-xs-12 text-left normal-text margin-top-20px no-pad">
  Vivocarat team will shortly send you an email to {{email}} with all the above details.
     
  <p class="margin-none">
     You will also receive a confirmation call on {{phone}} from the team to verify your order.
  </p>
        
  <p class="margin-none">
     In case you are unreachable, please call us on
  </p>
     
  <p> +91 9167645314 to confirm your order.</p>
        
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="product-accordion">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" class="payment-title" data-collapsible="accordion">
                    <span class="glyphicon glyphicon-minus vivocarat-theme-colour"></span>&nbsp;&nbsp;Order Summary</a>
                     </h4>
                    </div>
                    
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Order No</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.id}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Ordered on</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.created_at}}</div>
                                    </div>

                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Payment Mode</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.isCod=='1'?'Online':'Cash on delivery'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="product-accordion">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3" class="payment-title" data-collapsible="accordion">
                        <span class="glyphicon glyphicon-plus vivocarat-theme-colour"></span>&nbsp;&nbsp;Product Summary</a>
                    </h4>
                    </div>
                    
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    
                                 <div data-ng-repeat="p in products track by $index">
                                     
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Product ID</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{p.item.id}}</div>
                                    </div>
                                     
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Product Name</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{p.item.title}}</div>
                                    </div>
                                     
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Product Quality</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{p.quantity}}</div>
                                    </div>
                                     
                                </div>
                                    
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Grand Total</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.total | INR}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="product-accordion">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2" class="payment-title" data-collapsible="accordion">
                        <span class="glyphicon glyphicon-plus vivocarat-theme-colour"></span>&nbsp;&nbsp;Customer Details</a>
                     </h4>
                    </div>
                    
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Name</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.name}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Email</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.email}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Phone</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{order.phone}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Billing Address</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">
                                            {{order.first_line}},
                                            {{order.city}}, 
                                            {{order.state}} - {{order.pin}}, {{order.country}}
                                        </div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-5 lpad colfont no-pad">Shipping Address</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-6 colfont no-pad text-right">{{ship.first_line}},
                                            {{ship.city}}, 
                                            {{ship.state}} - {{ship.pin}}, {{ship.country}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</div>  
    
<div class="row">
 <div class="col-xs-6">
  <div class="row text-center no-pad">
   <a href="#i/orders" class="btn home-button">MY ORDERS</a>
  </div>
 </div>
    
 <div class="col-xs-6">
  <div class="row text-center no-pad">
   <a href="#i/home" class="btn home-button">HOME</a>
  </div>
 </div>   
</div>
    
</div>

<div class="container mob-top-pad visible-sm hidden-xs hidden-md padding-bottom-60px">
    
<vivo-header></vivo-header>
    
<div class="row padding-top-20px">
 <div class="col-xs-12 text-center no-pad">
  <span class="order-placed-text-sm">
      Your order has been placed
   <p>thank you for your order</p>
  </span>
 </div>   
</div>
 
<div class="row">
 <div class="col-xs-12 text-left margin-top-20px normal-text no-pad" style="font-size:17px;">
        Vivocarat team will shortly send you an email to customer-email with all the above details.
     
        <p class="margin-none">
           You will also receive a confirmation call on customer-number from the team to verify your order.
        </p>
     
        <p class="margin-none">In case you are unreachable, please call us on</p>
     
        <p> +91 9167645314 to confirm your order.</p>
        
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="product-accordion">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1sm" class="payment-title" data-collapsible="accordion"style="font-size:20px;">
                    <span class="glyphicon glyphicon-minus vivocarat-theme-colour"></span>&nbsp;&nbsp; Order Summary</a>
                     </h4>
                    </div>
                    
                    <div id="collapse1sm" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Order No</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.id}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Ordered on</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.created_at}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Payment Mode</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.isCod=='0'?'Online':'Cash on delivery'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="product-accordion">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3-sm" class="payment-title" data-collapsible="accordion"style="font-size:20px;">
                        <span class="glyphicon glyphicon-plus vivocarat-theme-colour"></span>&nbsp;&nbsp;Product Summary</a>
                     </h4>
                    </div>
                    
                    <div id="collapse3-sm" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    
                                 <div data-ng-repeat="p in products track by $index">
                                     
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Product ID</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{p.item.id}}</div>
                                    </div>
                                     
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Product Name</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{p.item.title}}</div>
                                    </div>
                                     
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Product Quantity</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{p.quantity}}</div>
                                    </div>
                                     
                                </div>
                                    
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Grand Total</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.total | INR}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="product-accordion">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2sm" class="payment-title" data-collapsible="accordion"style="font-size:20px;">
                        <span class="glyphicon glyphicon-plus vivocarat-theme-colour"></span>&nbsp;&nbsp;Customer Details</a>
                     </h4>
                    </div>
                    
                    <div id="collapse2sm" class="panel-collapse collapse">
                        <div class="panel-body" style="">
                            <div id="basic" class="panel-collapse collapse in">
                                <div class="panel-body panelpad panhead">
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Name</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.name}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Email</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.email}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Phone</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.phone}}</div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Billing Address</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{order.first_line}},
                                            {{order.city}}, 
                                            {{order.state}} - {{order.pin}}, {{order.country}}
                                        </div>
                                    </div>
                                    <div class="row product">
                                        <div class="col-xs-3 lpad colfont no-pad">Shipping Address</div>
                                        <div class="col-xs-1 lpad colfont no-pad">:</div>
                                        <div class="col-xs-8 colfont no-pad text-right">{{ship.first_line}},
                                            {{ship.city}}, 
                                            {{ship.state}} - {{ship.pin}}, {{ship.country}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
    
    <div class="col-xs-6">
        <div class="row text-center no-pad">
            <a href="#i/orders" class="btn home-button-sm">MY ORDERS</a>
        </div>
    </div>
    
    <div class="col-xs-6">
        <div class="row text-center no-pad">
            <a href="#i/home" class="btn home-button-sm">HOME</a>
        </div>
    </div>
</div>


<vivo-footer></vivo-footer>