<style>
    .ngrs-range-slider .ngrs-join {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        right: 100%;
        height: 8px;
        margin: -4px 0 0 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-color: #E22B46;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E22B46), color-stop(100%, #E22B46));
        background-image: -moz-linear-gradient(#5bc0de, #2f96b4);
        background-image: -webkit-linear-gradient(#5bc0de, #2f96b4);
        background-image: linear-gradient(#E22B46, #E22B46);
    }
</style>
<div class="container">
    <vivo-header></vivo-header>
    <div class="mens mob-top-pad">
        <div class="main">
            <div class="container">

                <div class=""><img height="300px" ng-src="https://www.vivocarat.com/images/banner/{{banImg}}.jpg" style="width:100%;margin-bottom:35px"> </div>


                <div class="row">
                    <div class="col-lg-3 rsidebar " style="    padding-right: 10px;">



                        <section class="sky-form">
                            <h4 style="    margin-top: 0px;">Price</h4>
                            <div class="row">
                                <div range-slider min="0" max="100000" model-min="demo1.min" model-max="demo1.max"></div>
                                <div class="row">
                                    <div class="col-xs-5">

                                        <input placeholder="Min" style="width:100%" type="number" ng-model="demo1.min">
                                    </div>
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-5">

                                        <input type="number" placeholder="Max" style="width:100%" ng-model="demo1.max">
                                    </div>
                                </div>


                            </div>
                        </section>

                        <section>
                            <h4><a data-ng-click="filter()"  class="btn btn-block btn-sm btn-vivo ">Search</a></h4></section>
                    </div>






                    <div class="col-lg-9 cont ">

                        <div class="mens-toolbar">
                            <div class="row">
                                <div style="color:white !important;" class="col-lg-3">
                                    <a href="#home" style="color:white !important;padding:10px">Home</a>>
                                    <a href="#c/{{subtype}}/{{category}}" style="color:white !important;padding:10px">{{category}}</a> </div>
                                <div style="color:white !important;  text-align: center" class="col-lg-3">Showing {{list.length}} products</div>
                                <div class="col-lg-3">
                                    <div style="color:white !important;  text-align: center; padding: " class="sort-by">
                                        Sort By
                                        <select data-ng-model="selectedFilter">

                                            <option value="Name">Name</option>
                                            <option value="Price L to H">Price L to H </option>
                                            <option value="Price H to L">Price H to L</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-3" style="color:white !important; text-align: right">Layout
                                    <a style="color:white !important; padding: 0 5px 0 10px" data-ng-click="setLayout(true)"><img src="https://www.vivocarat.com/images/icons/grid.png"></a>
                                    <a style="color:white !important; padding: 0 10px 0 5px" data-ng-click="setLayout(false)"><img src="https://www.vivocarat.com/images/icons/list1.png"></a>
                                </div>
                            </div>
                            <div class="sort">

                            </div>
                            <!--
                   <div class="pager">
    <div class="limiter visible-desktop">
        <label>Show</label>
        <select>
            <option value="" selected="selected">
                9 </option>
            <option value="">
                15 </option>
            <option value="">
                30 </option>
        </select> per page
    </div>
    <ul class="dc_pagination dc_paginationA dc_paginationA06">
        <li><a href="#" class="previous">Pages</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
    </ul>
    <div class="clear"></div>
</div>
-->
                            <div class="clear"></div>
                        </div>

                        <h2 class="head">{{category}}</h2>
                        <div class=" top-box1">
                            <div class="col-lg-12 well" data-ng-show="list.length<1">
                                No products found</div>
                            <div data-ng-repeat="p in list | orderBy:predicate:reverse">



                                <div data-ng-hide="isGrid" class="col-lg-12 " style="">

                                    <div class="inner_content clearfix" style="margin-top: 25px">
                                        <div class="row">
                                            <a href="#p/{{p.id}}">
                                                <div class="col-lg-4">
                                                    <div class="product_image">
                                                        <img ng-src="https://www.vivocarat.com/images/products/{{p.id}}-1.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>


                                            <div class="col-lg-6">

                                                <div style="margin-top: 10px;" class="row">
                                                    <div class="col-lg-12"><span style="font-weight: bold;color: #E22B46 !important;">{{p.title}}</span></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 ">{{p.supplier_name}}</div>

                                                    <br />
                                                    <br />

                                                    <div class="col-lg-3 product_description_border">Diamond</div>
                                                    <div class="col-lg-9 ">Rough</div>

                                                    <div class="col-lg-3 product_description_border">Purity</div>
                                                    <div class="col-lg-9 ">{{p.purity}}</div>

                                                    <div class="col-lg-3 product_description_border">Metal</div>
                                                    <div class="col-lg-9 ">{{p.metal}}</div>
                                                </div>
                                                <br />
                                                <!--div class="row">
                                                    <div class="col-lg-12"><span class="actual"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount }}</span> <span class="actual price_box_category_page"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount }}</span></div>
                                                </div-->

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="row">
                                                            <div class="col-lg-12" style="padding: 0px !important">
                                                                <span class="reducedfrom" style="margin-right:2px;"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_before_discount}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12" style="padding: 0px !important">({{p.discount}} % off)</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8" style="margin-top: 10px; padding: 0px !important">
                                                        <span class="price_box_product_page m_5"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount}}</span>
                                                    </div>
                                                </div>


                                                <br />
                                                <div class="row">
                                                    <div class="col-lg-4  " data-ng-init="cartIcon='images/icons/cart-color.png'">

                                                        <a data-ng-mouseover="cartIcon='images/icons/cart-filled.png'" data-ng-mouseout="cartIcon='images/icons/cart-color.png'" style="margin-right: 25px;" class="color5" data-ng-click="addToCart(p)"><img ng-src="{{cartIcon}}"></a>





                                                    </div>
                                                    <div class="col-lg-4  " data-ng-init="wIcon='images/icons/wishlist.png'">
                                                        <a data-ng-mouseover="wIcon='images/icons/wishlist-filled.png'" data-ng-mouseout="wIcon='images/icons/wishlist.png'" style="margin-right: 25px;" class="color5" data-ng-click="addToWatchlist(p)"><img ng-src="{{wIcon}}"></a>





                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>




                                <!-- **********************************GRID********************************************* -->



                                <div data-ng-show="isGrid" class="col-lg-4 " style="     margin-top: 30px;">
                                    <a href="#p/{{p.id}}">
                                        <div class="inner_content clearfix" style="height: 440px;">
                                            <div class="product_image">
                                                <img ng-src="https://www.vivocarat.com/images/products/{{p.id}}-1.jpg" alt="" />
                                            </div>
                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>




                                            <div style="margin-top: 10px;" class="row">
                                                <div class="col-lg-12"><span style="font-weight: bold;
    color: #E22B46 !important;">{{p.title}}</span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 ">{{p.supplier_name}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6" style="padding: 0px !important">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span class="reducedfrom" style="margin-right:2px;"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_before_discount}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">({{p.discount}} % off)</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6" style="padding: 0px !important; margin-top: 10px">
                                                    <span class="price_box_product_page m_5"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount}}</span>
                                                </div>
                                            </div>
                                            <!--div class="row">
                                            <div class="col-lg-6">
                                                <span class="actual"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="actual price_box_category_page"><img src="https://www.vivocarat.com/images/icons/rupee.png">&nbsp;{{p.price_after_discount }}</span>
                                            </div>
                                        </div-->
                                            <!--vivo-->
                                            <div style="    padding: 15px;" class="row">
                                                <div class="row">
                                                    <div class="col-lg-4  " data-ng-init="cartIcon='images/icons/cart-color.png'">

                                                        <a data-ng-mouseover="cartIcon='images/icons/cart-filled.png'" data-ng-mouseout="cartIcon='images/icons/cart-color.png'" style="margin-right: 25px;" class="color5" data-ng-click="addToCart(p)"><img ng-src="{{cartIcon}}"></a>





                                                    </div>
                                                    <div class="col-lg-4  " data-ng-init="wIcon='images/icons/wishlist.png'">
                                                        <a data-ng-mouseover="wIcon='images/icons/wishlist-filled.png'" data-ng-mouseout="wIcon='images/icons/wishlist.png'" style="margin-right: 25px;" class="color5" data-ng-click="addToWatchlist(p)"><img ng-src="{{wIcon}}"></a>





                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<vivo-footer></vivo-footer>