<vivo-header></vivo-header>
<div class="container mob-top-pad">
    
<div id="login-page">

  <form name="signupForm">
   
   <div class="row visible-xs hidden-sm hidden-md">
    <div class="col-xs-8 vivocarat-heading">PASSWORD RESET</div>

    <div class="col-xs-4 categoryGrad">

    </div>
   </div>

   <div class="row visible-sm visible-md hidden-xs">
    <div class="col-sm-7 vivocarat-heading">PASSWORD RESET</div>

    <div class="col-sm-5 categoryGrad">

    </div>
   </div>

  <div class="row">
   <div class="col-xs-12">

    <input type="password" class="form-control margin-bottom-10px" name="password" placeholder="Password" ng-model="signup.password" ng-required="true"/>
                    
     <small data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid">  
      Enter Password.
     </small>

    <input type="password" class="form-control margin-bottom-10px" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" ng-required="true"/>
     
     <small data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required">
      Enter password again.
     </small>

     <small data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> 
      Passwords do not match.
     </small>

    <div class="row">
     <div class="col-xs-12 text-center">
      <button type="submit" class="buy-now-featured" ng-click="resetPassword(signupForm.password)" data-ng-disabled="signupForm.$invalid || signupForm.$pending">
           Reset Password
      </button>
     </div>
    </div>

   <div class="row">
    <div class="col-md-12 no-padding-left-right padding-top-20px">
    Dont have an account?
    <a class="vivocarat-theme-colour" href="p-login.html?id=0">Register</a>
   </div>
   </div>

  </div>

 </form>

 </div>
</div>

<vivo-footer></vivo-footer>