<vivo-header></vivo-header>

<div class="container mob-top-pad visible-xs hidden-sm hidden-md">

<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-8 product-from-same-jeweller-heading no-padding-left">RETURN &amp; EXCHANGE POLICY</div>

 <div class="col-xs-4 categoryGrad">

 </div>
</div>
    
<div class="row">
 <div class="col-xs-12 no-pad">
  <span class="about-styling privacy-heading">
      Return Policy
  </span>
     
  <p class="about-styling no-pad">
     If an order is cancelled before it is shipped by us, we will make the refund for the amount paid to the same mode of payment between 5-7 working days.
  </p>
     
  <p class="about-styling no-pad">
     Any order that is cancelled after it has been shipped by us and is eligible for cancellation; we will make the refund for the amount due between 7-9 working days of receiving the products back at the VivoCarat office and verifying that it is undamaged. Refund will be made to the same mode of payment that was used for placing the order.
  </p>
     
  <p class="about-styling no-pad">
     Once your returned item is received our Quality Assurance department will review the returned item. For returns or cancellations, the product should be in its original condition and with supporting documents like the certification and original bill/invoice.
  </p>
     
  <p class="about-styling no-pad">
     Please note customized (including personalized/engraved products) jewellery is not eligible for cancellation or return. Only Life Time Buy-back and Exchange Policy applies.
  </p>
     
  <p class="about-styling no-pad">
     In case, any Coupon, Discount or Promo Codes were used during the original purchase, the refund amount will be reduced by an amount equivalent to the Coupon, Discount or Promo Codes, as applicable.
  </p>
     
  <p class="about-styling no-pad">
     In case the exchanged value is higher than the value of the old product, the customer will have to pay the difference between the new product chosen and the amount paid towards the old product. In case the exchanged value is lesser than the value of the old product, the difference will be credited to the buyer.
  </p>
     
  <p class="about-styling no-pad">
     The prevailing market value will be determined by the company.
  </p>
        
  <p class="about-styling no-pad">
     Returns will not be accepted for gold coins and gold bars.
  </p>
     
  <p class="about-styling no-pad">
     Returns are only applicable on orders shipped within India.
  </p>
     
  <p class="about-styling no-pad">
     Please note, for a refund of over Rs 25,000 we will require the customer to submit their PAN number.
  </p>
     
  <span class="about-styling privacy-heading">
        Lifetime Buy-back &amp; Exchange Policy
  </span>
     
  <p class="about-styling no-pad">
     All products bought from VivoCarat are eligible for lifetime buy-back and exchange, as per the market value. The buyback is facilitated by the seller from whom the product was purchased and the rate is set by the seller and is mentioned individually on every product. The rate will vary depending on the seller and the product.
  </p>
     
  <p class="about-styling no-pad">
     For all Buy-back transactions, Value Added tax at the applicable rate shall be collected from the Buy-Back value. The existing rate is 1%.
  </p>
     
        
  <p class="about-styling no-pad">
      For any further queries you can reach us at 
      <a href="mailto:hello@vivocarat.com">hello@vivocarat.com.</a>
  </p>
     
 </div>   
</div>        
        
    
</div>

<div class="container mob-top-pad visible-sm hidden-xs visible-md">
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-5 vivocarat-heading-sm no-padding-left">RETURN &amp; EXCHANGE POLICY</div>

 <div class="col-sm-7 categoryGrad-sm">

 </div>
</div>
 
<div class="row">
 <div class="col-sm-12 no-pad">
   <span class="about-styling-sm privacy-heading-sm">
       Return Policy
   </span>
     
   <p class="about-styling-sm no-pad">
      If an order is cancelled before it is shipped by us, we will make the refund for the amount paid to the same mode of payment between 5-7 working days.
   </p>
     
   <p class="about-styling-sm no-pad">
      Any order that is cancelled after it has been shipped by us and is eligible for cancellation; we will make the refund for the amount due between 7-9 working days of receiving the products back at the VivoCarat office and verifying that it is undamaged. Refund will be made to the same mode of payment that was used for placing the order.
   </p>
     
   <p class="about-styling-sm no-pad">
      Once your returned item is received our Quality Assurance department will review the returned item. For returns or cancellations, the product should be in its original condition and with supporting documents like the certification and original bill/invoice.
   </p>
     
   <p class="about-styling-sm no-pad">
      Please note customized (including personalized/engraved products) jewellery is not eligible for cancellation or return. Only Life Time Buy-back and Exchange Policy applies.
   </p>
     
   <p class="about-styling-sm no-pad">
      In case, any Coupon, Discount or Promo Codes were used during the original purchase, the refund amount will be reduced by an amount equivalent to the Coupon, Discount or Promo Codes, as applicable.
   </p>
     
   <p class="about-styling-sm no-pad">
      In case the exchanged value is higher than the value of the old product, the customer will have to pay the difference between the new product chosen and the amount paid towards the old product. In case the exchanged value is lesser than the value of the old product, the difference will be credited to the buyer.
   </p>
     
   <p class="about-styling-sm no-pad">
      The prevailing market value will be determined by the company.
   </p>
     
   <p class="about-styling-sm no-pad">
      Returns will not be accepted for gold coins and gold bars.
   </p>
     
   <p class="about-styling-sm no-pad">
      Returns are only applicable on orders shipped within India.
   </p>
     
   <p class="about-styling-sm no-pad">
      Please note, for a refund of over Rs 25,000 we will require the customer to submit their PAN number.
   </p>
     
   <span class="about-styling-sm privacy-heading-sm">
       Lifetime Buy-back &amp; Exchange Policy
   </span>
     
   <p class="about-styling-sm no-pad">
      All products bought from VivoCarat are eligible for lifetime buy-back and exchange, as per the market value. The buyback is facilitated by the seller from whom the product was purchased and the rate is set by the seller and is mentioned individually on every product. The rate will vary depending on the seller and the product.
   </p>
     
   <p class="about-styling-sm no-pad">
      For all Buy-back transactions, Value Added tax at the applicable rate shall be collected from the Buy-Back value. The existing rate is 1%.
   </p>
        
   <p class="about-styling-sm no-pad">
      For any further queries you can reach us at 
      <a href="mailto:hello@vivocarat.com">hello@vivocarat.com.</a>
   </p>
     
 </div>   
</div>
       
    
</div>

<vivo-footer></vivo-footer>