<div class="container">
    <vivo-header></vivo-header>
    <div class="register_account">
        <div class="wrap">
            <div class="row text-center">
                <div class="col-lg-12 ">
                    <h4 class="">Create an Account</h4></div>
            </div>
            <form>
                <div class="row text-center">
                    <div class="col-lg-3 "></div>
                    <div class="col-lg-6 ">
                        <div>
                            <input type="text" placeholder="Phone Number" data-ng-model="customer.phone">
                        </div>
                        <div>
                            <input type="text" placeholder="Name" data-ng-model="customer.name">
                        </div>
                        <div>
                            <input type="email" placeholder="E-Mail" data-ng-model="customer.email">
                        </div>
                        <div>
                            <input type="password" placeholder="password" data-ng-model="customer.password">
                        </div>
                        <div class="row ">
                            By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.
                        </div>
                    </div>
                    <div class="col-lg-3 "></div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-lg-5 "></div>
                    <div class="col-lg-2 ">
                        <a class="btn btn-vivo btn-lg btn-block" data-ng-click="signup()" class="grey">Submit</a>
                    </div>
                    <div class="col-lg-5 "></div>
                </div>

            </form>
        </div>
    </div>
</div>
<vivo-footer></vivo-footer>