<script type='text/javascript'>
$(document).ready(function(){
   $(window).scroll(function(){
       if ($(this).scrollTop() > 100) {
           $('#scroll').fadeIn();
       } else {
           $('#scroll').fadeOut();
       }
   });
   $('#scroll').click(function(){
       $("html, body").animate({ scrollTop: 0 }, 700);
       return false;
   });
});
</script>
<style type="text/css">
/* BackToTop button css */
#scroll {
   position:fixed;
   right:10px;
   bottom:55px;
   cursor:pointer;
   width:50px;
   height:50px;
   background-color: #E62739 ;
   text-indent:-9999px;
   display:none;
   -webkit-border-radius:60px;
   -moz-border-radius:60px;
   border-radius:60px;
    z-index: 10;
}
#scroll span {
   position:absolute;
   top:50%;
   left:50%;
   margin-left:-8px;
   margin-top:-12px;
   height:0;
   width:0;
   border:8px solid transparent;
   border-bottom-color:#ffffff
}
#scroll:hover {
   background-color:#E62739 ;
   opacity:1;
    filter:"alpha(opacity=100)";
   -ms-filter:"alpha(opacity=100)";
}
</style>


<!-- BackToTop Button -->
<a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
<!-- End   -->


<!--Modals for mobile-->

<div class="modal fade" id="addToCartSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="   ">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->

                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product has been added to cart successfully
                    </h>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                </div>
-->
            </div>
        </div>
    </div>

    <div class="modal fade" id="verify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="urlinvalid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The url is invalid
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="noemail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops we do not have this email id registered with us
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="verifydetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="validdetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please use valid credentials and try again.
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="facingerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwdreset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        An email has been sent to you to reset the password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fillShipDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Kindly fill all fields of Shipping details to enable us ship your jewellery
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pwdchanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Password changed successfully. Please Login with your new password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderupdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Updated order successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WrongPromoCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Wrong promocode
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WrongPinCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Wrong PINCODE
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnsuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Return has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnfail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error placing a return for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ordercancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Order has been cancelled successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please login
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addpartner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Thanks for contacting us. We will get in touch with you shortly
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="enterValidDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please enter valid details and then click submit
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToCartAlready" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The product has already been added to the cart. If you would want to increase the quantity of please do so during checkout
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="verifydetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please verify the details entered
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mailsent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        An email has been sent to you to reset the password
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removewatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product removed from watchlist
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removewatcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error removing products from your watchlist. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadwatcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error loading products from your watchlist. Just give us some time and we will be up and running.
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderplaced" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Your order has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review added successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewCummErr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Cumulative Review error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reviewListErr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Review List error
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderplacederr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error placing the order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="jewelerr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error loading the jewellry for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VC500" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 10000
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="VC500-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops!! Promo code is applicable for minimum purchase of Rs. 5000
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="addwish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product added to wishlist
                    </h>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addwisherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error adding your product to watchlist. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="acfetcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your account details for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderfetcherr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderfetchhisterr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Oops! We are facing some error fetching your order history for you. Just give us some time and we will be up and running
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ordersuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Your order has been placed successfully
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToCompareSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Product added for comparison
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="diffCompare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Kindly compare products of same category
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alreadyAddedToCompare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                       Product already added to compare
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addToCompareFail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Maximum 4 products can be added for comparison
                    </h>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alreadyInCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        The product has already been added to the cart. Would you like to add another one
                    </h>
                </div>

                <div class="modal-footer">
                    <button type="button" data-ng-click="feed='yes'" class="btn btn-default" data-dismiss="modal">Yes</button>
                    <button type="button" data-ng-click="feed='no'" class="btn btn-default" data-dismiss="modal">No. Thanks</button>


                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="loggedIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        {{response}}
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BraceletSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Bracelet size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RingSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Ring size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BangleSize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="padding-top: 230px;">
            <div class="modal-content" style="width: 100%;">
                <div class="modal-header" style="border: none;padding: 8px;">
                </div>
                <div class="modal-body text-center" style="padding-top: 0px;">
                    <h class="modal-text">
                        Please select Bangle size before proceeding
                    </h>
                </div>
            </div>
        </div>
    </div>