<vivo-header></vivo-header>

<div class="container mob-top-pad visible-xs hidden-sm hidden-md">
    
<div data-ng-hide="!authenticated || isLoaded" class="mob-top-pad visible-xs hidden-md hidden-sm margin-top-20px">
<div align="center" class="margin-top-20px">
 <div class="row text-center home-panel-row">
  <div class="well normal-text margin-top-40px">
      Please wait...
  </div>
 </div>
</div>
</div>
    
<div data-ng-show="!isauthenticated || isLoaded" class="register_account">
    
 <div class="wrap well" data-ng-show="!authenticated">
  <h4 class="title">
           Not Logged In
  </h4>
  <p class="padding-top-20px normal-text" style="font-size:16px;">
      You have no items in your wishlist.
  <br>Kindly <a href="#login/0" class="underline vivocarat-theme-colour bold-font">login</a> to to see your wishlist
  </p>
 </div>    

        
 <div clsass="wrap well" data-ng-show="authenticated && watchlist.length<1">
  <h4 class="title">Wishlist cart is empty</h4>
  <p class="cart">You have no items in your shopping cart.
     <br>Click<a href="#i/home"> here</a> to continue shopping</p>
 </div>
        
        
<div class="row home-panel-row" data-ng-show="watchlist!=null">
    
<div class="col-xs-12 vivo-panel wishlist-structure" data-ng-repeat="c in watchlist track by $index">
        
<!--div class="col-xs-12 no-pad text-right rightrem padding-bottom-20px">
  <a class="normal-text link" ng-click="removeFromWatchlist(c.id)">REMOVE</a>
</div-->
        
     <div class="col-xs-12 text-left no-pad margin-bottom-20px">
       <a href="#p/{{c.id}}" class="product-title">{{c.title}}</a>
     </div>
        
     <div class="row">
      <div class="col-xs-4 text-left no-pad">
       <img src="https://www.vivocarat.com/images/products-v2/{{c.VC_SKU}}-1.jpg" class="img-responsive product-image-border">
      </div>
                        
     <div class="col-xs-8 no-padding-right">
      <div class="row">
       <div class="col-xs-12 grid-price-after text-left">
             RS.&nbsp;{{c.price_after_discount | INR}}
       </div>
          
       <div class="col-xs-12">
        <span class="grid-price-before pull-left no-padding-left">
            RS. {{c.price_before_discount | INR}
        </span>
        <span class="grid-off">
            {{c.discount}} % OFF
        </span>
      </div>
          
      <div class="col-xs-12 no-pad text-left margin-top-20px">
       <div class="row">
        <div class="col-xs-12 text-left">
         <a data-ng-click="addToCart(c)" class="btn cancel-button"> 
             ADD TO CART 
         </a>
        </div>
       </div>
      </div>
      </div>
     </div>
    </div>
    </div>
    </div>
        
 </div>
</div>

<div class="container mob-top-pad visible-sm hidden-xs hidden-md">
    
<div data-ng-hide="!authenticated || isLoaded" class="mob-top-pad visible-xs hidden-md hidden-sm margin-top-20px">
    
<div align="center" class="margin-top-20px">
<div class="row text-center home-panel-row">
 <div class="well normal-text margin-top-40px">Please wait...</div>
</div>
</div>
    
</div>
    
<div data-ng-show="!isauthenticated || isLoaded" class="register_account">
 <div class="wrap well" data-ng-show="!authenticated">
  <h4 class="title">
           Not Logged In
  </h4>
     
  <p class="padding-top-20px normal-text" style="font-size:20px;">
    You have no items in your wishlist.
    <br>
    Kindly 
    <a href="#login/0" class="underline vivocarat-theme-colour bold-font">
      login
    </a> 
    to see your wishlist
  </p>
</div>
        
 <div clsass="wrap" data-ng-show="authenticated && watchlist.length<1">
  <h4 class="title">Wishlist cart is empty</h4>
  <p class="cart">You have no items in your shopping cart.
  <br>Click<a href="#i/home"> here</a> to continue shopping</p>
</div>
        
        
<div class="row  home-panel-row" data-ng-show="watchlist!=null">

<div class="col-xs-12 vivo-panel wishlist-structure" data-ng-repeat="c in watchlist track by $index">
           
<!--div class="col-xs-12 no-pad text-right rightrem">
 <a ng-click="removeFromWatchlist(c.id)" class="normal-text link">REMOVE</a>
</div-->
           
<div class="col-xs-12 text-left no-pad margin-bottom-20px">
            <a href="#p/{{c.id}}" class="product-title">{{c.title}}</a>
</div>
           
 <div class="row">
  <div class="col-xs-4 text-left no-pad">
   <img src="https://www.vivocarat.com/images/products-v2/{{c.VC_SKU}}-1.jpg" class="img-responsive product-image-border">
  </div>
           
        <div class="col-xs-8 no-padding-right">
         <div class="row">
          <div class="col-xs-12 grid-price-after text-left">
              RS.&nbsp;{{c.price_after_discount | INR}}
          </div>
             
          <div class="col-xs-12">
           <span class="grid-price-before pull-left no-padding-left">
               RS. {{c.price_before_discount | INR}}
           </span>
           <span class="grid-off">
               {{c.discount}} % OFF
           </span>
          </div>
             
          <div class="col-xs-12 no-pad text-left margin-top-20px">
           <div class="row">
            <div class="col-xs-12 text-left">
             <a data-ng-click="addToCart(c)" class="btn cancel-button"> 
                 ADD TO CART
             </a>
            </div>
           </div>
         </div>
        </div>
       </div>
           
    </div>
   </div>
  </div>
       
</div>
</div>


<vivo-footer></vivo-footer>