[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{display:none !important;}
.bold-font{font-weight:bold;}
.remove-link{font-size:12px;text-decoration:underline !important;color:#e62739 !important;font-family:leela;}
.link{text-decoration:underline;color:#e62739 !important;}
.grey-colour{color:#797979 !important;}
.underline{text-decoration:underline;}
.uppercase{text-transform:uppercase;}
.border-radius-none{border-radius:0px !important;}
.small-button{border-radius:0px !important;padding:2px 30px 2px 30px !important;}
.normal-text{font-size:13px;font-family:'leela';}
.white-colour{color:white !important;}
.white-background{background-color:white !important;}
.uppercase{text-transform:uppercase;}
.box-outside-shadow{-webkit-box-shadow:0px 0px 4px 0.4px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 4px 0.4px rgba(0,0,0,0.1);box-shadow:0px 0px 4px 0.4px rgba(0,0,0,0.1);}
.vivocarat-heading{color:#606060 !important;font-size:18px;font-family:'raleway';font-weight:bolder;padding-top:30px;padding-bottom:12px;}
.vivocarat-heading:after{content:' ';background:-moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:-webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);height:1px;min-width:75%;position:absolute;top:65%;margin-left:10px;}
.categoryGrad{background:-moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:-webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);top:44px;}
.categoryGrad-sm{background:-moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:-webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);top:57px;}
.vivocarat-heading-sm{color:#606060 !important;font-size:28px;font-family:'raleway';font-weight:bolder;padding-top:38px;padding-bottom:14px;}
.vivocarat-heading-sm:after{content:' ';background:-moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:-webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);background:linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);height:1px;min-width:75%;position:absolute;top:62%;margin-left:20px;}
.error-text{border-bottom:1px solid red !important;}
.correct-text{border-bottom:1px solid #aaa !important;}
.vivocarat-theme-colour{color:#E62739 !important}
.grey-colour{color:#797979 !important;}
.white-colour{color:white !important;}
.underline{text-decoration:underline;}
.strike{text-decoration:line-through;}
.uppercase{text-transform:uppercase;}
.border-radius-none{border-radius:0px !important;}
.btn-vivo{font-weight:200;text-transform:uppercase;border-radius:0px;z-index:0;color:#fff !important;background-color:#E62739 !important;border-color:#E62739 !important;}
.btn-md{padding-top:5px !important;padding-bottom:5px !important;padding-left:30px !important;padding-right:30px !important;font-family:'leela';font-weight:bold !important;font-size:25px !important;border-radius:0px !important;}
.btn-xs{padding-top:5px !important;padding-bottom:5px !important;padding-left:15px !important;padding-right:15px !important;font-family:'leela';font-weight:bold !important;font-size:15px !important;color:white !important;background-color:#e62739 !important;border-radius:0px !important;text-transform:none;}
.buy-pos-md{padding:15px 0px 0px 0px;}
.font-size-20px{font-size:20px;}
.width-100-percent{width:100%;}
.no-padding-left{padding-left:0px !important;}
.no-padding-right{padding-right:0px !important;}
.no-padding-left-right{padding-right:0px !important;padding-left:0px !important;}
.no-padding{padding:0px;}
.-ve-margin-top-68px{margin-top:-68px;}
.-ve-margin-bottom-40px{margin-bottom:-40px;}
.-ve-margin-bottom-30px{margin-bottom:-30px;}
.-ve-margin-bottom-50px{margin-bottom:-50px;}
.margin-top-25-percent{margin-top:25%;}
.margin-top-80px{margin-top:80px !important;}
.margin-top-60px{margin-top:60px !important;}
.margin-top-50px{margin-top:50px !important;}
.margin-top-40px{margin-top:40px !important;}
.margin-top-68px{margin-top:68px;}
.margin-top-30px{margin-top:30px;}
.margin-top-20px{margin-top:20px;}
.margin-top-15px{margin-top:15px;}
.margin-top-10px{margin-top:10px;}
.padding-top-30px{padding-top:30px;}
.padding-top-10px{padding-top:10px;}
.padding-top-8px{padding-top:8px;}
.padding-top-20px{padding-top:20px !important;}
.padding-top-25px{padding-top:25px !important;}
.padding-bottom-60px{padding-bottom:60px;}
.padding-bottom-24px{padding-bottom:24px;}
.padding-bottom-20px{padding-bottom:20px;}
.padding-bottom-17px{padding-bottom:17px;}
.padding-bottom-40px{padding-bottom:40px;}
.padding-bottom-30px{padding-bottom:30px;}
.margin-bottom-20px{margin-bottom:20px;}
.margin-bottom-10px{margin-bottom:10px;}
.padding-top-0px{padding-top:0px;}
.padding-bottom-10px{padding-bottom:10px;}
.margin-top-0px{margin-top:0px !important;}
.margin-none{margin:0px;}
.padding-top-17px{padding-top:17px;}
.padding-top-60px{padding-top:60px;}
.padding-top-5px{padding-top:5px;}
.padding-bottom-5px{padding-bottom:5px;}
.padding-left-15px{padding-left:15px;}
.padding-left-5px{padding-left:5px !important;}
.padding-left-8px{padding-left:8px !important;}
.padding-left-10px{padding-left:10px !important;}
.padding-left-20px{padding-left:20px !important;}
.padding-left-30px{padding-left:30px;}
.margin-left-10px{margin-left:10px;}
.padding-right-15-percent{padding-right:15%;}
.padding-right-10px{padding-right:10px;}
.padding-right-8px{padding-right:8px !important;}
.padding-right-15px{padding-right:15px;}
.padding-2px{padding:2px;}
.padding-5px{padding:5px !important;}
.padding-left-right-48px{padding-left:48px;padding-right:48px;}
.bottom-margin-15px-padding-25px{margin-bottom:15px;padding-bottom:25px;}
.bottom-margin-15px-padding-10px{margin-bottom:15px;padding-bottom:10px;}
.margin-left-right-30px{margin-right:30px;margin-left:30px;}
.margin-bottom-15px{margin-bottom:15px;}
.margin-bottom-20px{margin-bottom:20px;}
.truncate{width:250px;overflow:hidden;text-overflow:ellipsis;}
.no-scroll{overflow:hidden !important;}
.modal-text-structure{position:relative;padding:0px 15px 15px 15px;text-align:center;}
.modal-text{font-family:'leela';font-size:15px;font-weight:bold;color:#E62739;}
.vivo-mob-top-padding{margin-top:66px;}
.view-more-button{color:white !important;background-color:#E62739;font-size:13px;font-family:'leela';padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;}
.view-more-button-sm{color:white !important;background-color:#E62739;font-size:18px;font-family:'leela';padding-left:60px;padding-right:60px;padding-top:10px;padding-bottom:10px;}
.category-1{padding-left:0px !important;padding-right:5px !important;}
.category-2{padding-left:3px !important;padding-right:2px !important;}
.category-3{padding-left:5px !important;padding-right:0px !important;}
.buy-now-featured{color:white !important;background-color:#E62739;font-size:15px;font-family:'leela';padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;}
.buy-now-featured-sm{color:white !important;background-color:#E62739;font-size:20px;font-family:'leela';padding-left:40px;padding-right:40px;padding-top:10px;padding-bottom:10px;}
.testimonial-structure{padding-top:20px;padding-bottom:30px;background-color:white;}
.testimonial-image-structure{border:8px solid #ffa9a9;}
.testimonial-image-structure-sm{border:8px solid #ffa9a9;width:50%;}
.testimonial-text{padding-top:30px;font-family:'leela';font-size:13px;color:#797979 !important;}
.testimonial-text-sm{padding-top:30px;font-family:'leela';font-size:18px;color:#797979 !important;}
.testimonial-text:before{content:'';background:url('../images/mobile/home/icons/quotes.png') no-repeat 0 0;background-size:100%;width:32px;height:20px;position:absolute;margin-top:-20px;left:15px;}
.testimonial-text:after{content:'';background:url('../images/mobile/home/icons/quotes.png') no-repeat 0 -40px;background-size:100%;width:32px;height:20px;position:absolute;margin-top:17px;right:15px;}
.testimonial-text-sm:before{content:'';background:url('../images/mobile/home/icons/quotes.png') no-repeat 0 0;background-size:100%;width:32px;height:20px;position:absolute;margin-top:-18px;left:15px;}
.testimonial-text-sm:after{content:'';background:url('../images/mobile/home/icons/quotes.png') no-repeat 0 -40px;background-size:100%;width:32px;height:20px;position:absolute;margin-top:24px;right:15px;}
.jewellery-guide-structure{padding-top:20px;padding-bottom:20px;background-color:#f8f8f8;opacity:1;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.guide-heading{font-family:'leela';font-size:20px;text-align:left;color:#606060 !important;font-weight:bold;}
.guide-heading-sm{font-family:'leela';font-size:28px;text-align:left;color:#606060 !important;font-weight:bold;}
.guide-text{font-family:'leela';font-size:14px;text-align:left;padding-left:14px;margin:0px;color:#797979 !important;}
.guide-text-sm{font-family:'leela';font-size:17px;text-align:left;padding-left:14px;margin:0px;color:#797979 !important;}
.read-more-link{font-family:'leela';font-size:17px;color:#E62739 !important;text-decoration:underline;text-align:left;padding-left:14px;}
.read-more-link-sm{font-family:'leela';font-size:20px;color:#E62739 !important;text-decoration:underline;text-align:left;padding-left:14px;}
.social-footer-structure{background-color:#f8f8f8;padding-top:5px;padding-bottom:5px;margin-top:40px;padding-left:60px;}
.social-footer-structure-sm{background-color:#f8f8f8;padding-top:5px;padding-bottom:5px;margin-top:60px;padding-left:200px;}
.get-text{font-family:'circe-bold';font-size:11px;color:#696969 !important;text-decoration:underline;padding-top:57px;}
.get-text-sm{font-family:'circe-bold';font-size:28px;color:#E62739 !important;text-decoration:underline;padding-top:150px;text-align:center;margin-bottom:20px;}
.answer-3-text{font-family:'circe-light';font-size:28px;color:#696969 !important;margin:0px;text-align:center;line-height:30px;}
.answer-3-text-sm{font-family:'circe-light';font-size:28px;color:#696969 !important;margin:0px;text-align:center;line-height:30px;}
.modal-backdrop{opacity:0.1 !important;}
.white-cancel-button-position{background-color:#E62739;padding-top:10px;padding-bottom:20px;padding-left:0px !important;text-align:right;}
.cancel-button-position{padding-left:0px !important;padding-top:10px;text-align:right;padding-right:7px !important;}
.first-girl-image{background:url('../images/mobile/home/customer feedback/first girl.jpg') no-repeat;background-size:cover;height:182px;}
.customer-feedback-background-sm{background:url('../images/mobile/home/customer feedback/quiz-gif.gif') no-repeat 0 0;background-size:cover;height:490px;}
@media only screen and (max-width:1024px) and (orientation:landscape){.customer-feedback-background-sm{background:url('../images/mobile/home/customer feedback/quiz-gif.gif') 50% 0 no-repeat;background-size:100% auto;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:500px;}
}
.step-1{background:url('../images/mobile/home/customer feedback/first screen/steps/steps.png') no-repeat 0 0;width:243px;height:18px;}
.step-2{background:url('../images/mobile/home/customer feedback/first screen/steps/steps.png') no-repeat 0 -48px;width:243px;height:18px;}
.step-3{background:url('../images/mobile/home/customer feedback/first screen/steps/steps.png') no-repeat 0 -96px;width:243px;height:18px;}
.first-girl-image-sm{background:url('../images/mobile/home/customer feedback/first girl.gif') no-repeat;background-size:cover;height:182px;margin-top:44px;margin-left:368px;}
.first-screen-background{background-color:#E62739;padding-top:40px;padding-bottom:20px;}
.start-quiz-button{background-color:#FFFFFF;padding-left:60px;padding-right:60px;padding-top:15px;padding-bottom:15px;font-family:'circe-bold';font-size:24px;color:#E62739 !important;}
.prev-next-button{background-color:#e62739;padding-left:60px;padding-right:60px;padding-top:15px;padding-bottom:15px;font-family:'circe-bold';font-size:18px;color:#FFFFFF !important;border:none;}
.skip-text{font-family:'circe-bold';font-size:18px;color:#FFFFFF !important;text-decoration:underline;padding-top:30px;margin:0px;}
.second-screen-background{background-color:#E62739;padding-top:20px;padding-bottom:20px;}
.category-image-position{padding-top:10px;}
.jewellery-collection-text{font-family:'leela';font-size:12px;color:#FFFFFF !important;margin:0px;}
.skin-tone-text{font-family:'circe-light';font-size:16px;color:#FFFFFF !important;}
.skin-tone-heading{font-family:'circe-bold';font-size:20px;color:#7e7e7e !important;text-align:center;}
.jewellery-collection-text-sm{font-family:'circe-bold';font-size:21px;color:#FFFFFF !important;margin:0px;text-align:center;}
.customer-feedback-email-background{background:url('../images/mobile/home/customer feedback/last screen/customer email background.jpg') no-repeat;background-size:cover;width:750px;height:750px;margin:auto;}
.customer-feedback-email-position{padding-top:230px;text-align:center;}
.customer-feedback-email-text{font-family:'circe-bold';font-size:25px;color:#7e7e7e !important;margin:0px;}
.customer-feedback-email-field-position{padding-top:60px;padding-left:0px !important;padding-right:0px !important;padding-bottom:70px;}
.customer-feedback-email-field{font-family:'circe-light';font-size:24px;text-align:center;border-bottom:2px solid #ada9a8;border-top:none;border-left:none;border-right:none;outline:none;color:#cccccc;width:100%;background:transparent;}
.customer-feedback-validation-message{text-align:center;font-family:circe-light;font-size:20px;color:#696969 !important;}
.facebook{background:url('../images/mobile/home/icons/social icons.png') no-repeat 0 0;background-size:174px 29px;width:29px;height:29px;}
.twitter{background:url('../images/mobile/home/icons/social icons.png') no-repeat -48px 0;background-size:174px 29px;width:29px;height:29px;}
.instagram{background:url('../images/mobile/home/icons/social icons.png') no-repeat -97px 0;background-size:174px 29px;width:29px;height:29px;}
.pinterest{background:url('../images/mobile/home/icons/social icons.png') no-repeat -145px 0;background-size:174px 29px;width:29px;height:29px;}
.copyright-text{font-family:'leela';font-size:13px;color:#606060 !important;margin:0px;text-align:center;}
.copyright-text-sm{font-family:'leela';font-size:18px;color:#606060 !important;margin:0px;text-align:center;}
.dropdown-menu{background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);width:100%;position:absolute;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);left:-118px !important;border-radius:0px !important;top:53px !important;border-top:none !important;background-color:#fbfbfb !important;}
.account-menu-sm{background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);width:100%;position:absolute;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);left:-78px !important;border-radius:0px !important;top:63px !important;border-top:none !important;background-color:#fbfbfb !important;}
.checkout-number{padding:1px;padding-right:5px;padding-left:5px;background-color:#E62739;border-radius:50%;}
.header-height-sm{height:65px !important;}
.hamburger-icon{background:url('../images/mobile/header/logos/header.png') no-repeat 0 0;background-size:334px 28px;width:19px;height:13px;margin-left:10px;margin-bottom:20px;}
.vivocarat-logo{background:url('../images/mobile/header/logos/header.png') no-repeat -68px 0;background-size:334px 28px;width:140px;height:28px;margin-top:15px;}
.call-icon{background:url('../images/mobile/header/logos/header.png') no-repeat -258px 0;background-size:334px 28px;width:22px;height:22px;margin-top:18px;}
.account-menu-icon{background:url('../images/mobile/header/logos/header.png') no-repeat -330px 0px;background-size:334px 28px;width:4px;height:22px;margin-top:18px;margin-left:12px;}
.hamburger-icon-sm{background:url('../images/mobile/header/logos/header.png') no-repeat 0 0;background-position:0 0;width:37px;height:26px;margin-left:10px;margin-top:20px;}
.vivocarat-logo-sm{background:url('../images/mobile/header/logos/header.png') no-repeat -49px 0;background-position:-137px 0;width:279px;height:55px;margin-top:5px;}
.call-icon-sm{background:url('../images/mobile/header/logos/header.png') no-repeat -258px 0;background-position:-516px 0;width:44px;height:44px;margin-top:8px;}
.account-menu-icon-sm{background:url('../images/mobile/header/logos/header.png') no-repeat -330px 0px;background-position:-660px 0;width:8px;height:44px;margin-top:8px;margin-left:12px;}
.user-account-icon{background:url('../images/mobile/header/icons/menu/account menu.png') no-repeat -2px -1px;width:20px;height:20px;}
.user-orders-icon{background:url('../images/mobile/header/icons/menu/account menu.png') no-repeat 0px -50px;width:20px;height:20px;}
.men-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 0;background-size:24px 300px;width:20px;height:21px;margin-left:19px;margin-top:2px;}
.collection-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -41px;background-size:24px 300px;width:21px;height:19px;margin-left:17px;margin-top:3px;}
.gift-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -79px;background-size:24px 300px;width:20px;height:18px;margin-left:17px;margin-top:3px;}
.shop-by-brands-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -117px;background-size:24px 300px;width:21px;height:21px;margin-left:17px;margin-top:3px;}
.lookbook-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -158px;background-size:24px 300px;width:24px;height:21px;margin-left:17px;margin-top:3px;}
.about-vivocarat-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -198px;background-size:24px 300px;width:20px;height:21px;margin-left:17px;margin-top:3px;}
.account-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -239px;background-size:24px 300px;width:21px;height:21px;margin-left:17px;margin-top:3px;}
.contact-icon{background:url('../images/mobile/header/icons/hamburger/hamburger menu.png') no-repeat 0 -279px;background-size:24px 300px;width:20px;height:21px;margin-left:17px;margin-top:3px;}
.product_image:after{position:absolute;content:'';width:1px;top:50px;bottom:0;right:0;background:linear-gradient(to top, rgba(213, 210, 210, 0) 0, rgba(213, 210, 210, 0) 10%, #d5d2d2 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d2d2', endColorstr='#d5d2d2', GradientType=0);}
.product_image img{display:block;}
#products .pagination{margin-top:8px;float:left;}
#products .pagination li{float:left;margin:2px 4px;list-style:none;}
#products .pagination li:first-child{margin-left:0px;}
#products .pagination li a{border:1px solid #D6D6D6;display:block;width:101px;height:84px;}
#products .pagination li a img{width:100%;}
#products .pagination li.current a{margin:0;}
.images_3_of_2{width:41.2%;float:left;margin-right:2.6%;}
#container{margin:0 auto;position:relative;z-index:0;}
#products_example{position:relative;}
#products .slides_container{width:99.3333%;height:295px;overflow:hidden;float:left;position:relative;border:1px solid #F0F0F0;display:none;}
#products .next,
#products .prev{position:absolute;top:90px;left:5px;width:21px;height:0;padding-top:21px;overflow:hidden;display:block;z-index:101;}
ul.breadcrumb{padding:8px 15px;margin:0 0 18px !important;list-style:none;background-color:#f7f7f7;font-size:0.85em;color:#999 !important;}
ul.breadcrumb a{color:#4CB1CA;}
ul.breadcrumb a:hover{color:#000;}
.delivery-features{padding-top:10px;padding-bottom:10px;font-family:'leela' !important;font-size:12px !important;background-color:white;}
.delivery-features-md{margin-top:25px;padding-top:10px;padding-bottom:10px;font-family:'leela' !important;font-size:20px !important;background-color:white;margin-bottom:15px;}
.product-space-bottom-20{margin-bottom:20px;}
.product{margin-top:10px;margin-bottom:10px;border-bottom:1px solid #e5e5e5;}
.colfont{color:#606060 !important;font-family:'leela' !important;}
.colfont-md{color:#606060 !important;font-family:'leela' !important;font-size:20px;}
.colfont-title{font-family:'leela';color:#5f5f5f !important;font-size:16px;}
.colfont-title-sm{font-family:'leela' !important;color:#606060 !important;font-size:32px;font-weight:bold;}
.colfont-subtitle-first{color:#606060 !important;font-family:'leela' !important;border-bottom:1px solid #606060;padding-left:0px !important;font-weight:bold;}
.colfont-subtitle-first-md{color:#606060 !important;font-family:'leela' !important;border-bottom:1px solid #606060;padding-left:0px !important;font-size:25px;font-weight:bold;}
.panelpad{padding-top:0px;padding:0px !important;}
.panhead{padding-left:0px;}
.progress{height:20px !important;border-radius:10px !important;box-shadow:none;-webkit-box-shadow:none;background-color:#f3f3f3 !important;}
.progress-bar{box-shadow:none;border-radius:10px;-webkit-box-shadow:none;background:#f6c6cb;background:-moz-linear-gradient(left, #f6c6cb 0%, #e62739 71%);background:-webkit-linear-gradient(left, #f6c6cb 0%, #e62739 71%);background:linear-gradient(to right, #f6c6cb 0%, #e62739 71%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c6cb ', endColorstr='#e62739 ', GradientType=1);}
#footer{position:fixed;left:0px;bottom:30px;height:15px;width:100%;background:#999;z-index:4;}
.product-image-container{width:100%;height:100vh;overflow:hidden;}
.background-colour{background-color:#e8ebf0;}
.product-image-border-radius{border-radius:10px;}
.arrow-background{background-image:none !important;}
.arrow-position{padding-top:118px;}
.arrow-position-sm{padding-top:200px;}
.product-title{font-family:'leela';font-weight:bold;font-size:15px !important;color:#797979 !important;}
.product-title-sm{font-family:'leela';font-weight:bold;font-size:32px !important;color:#797979 !important;}
.discount-position-sm{font-size:28px;padding-top:8px !important;}
.ring-sizer-button{padding-top:7px !important;padding-bottom:6px !important;z-index:0 !important;width:100%;background-color:#FFFFFF !important;font-family:'leela';border-radius:2px !important;font-size:15px !important;font-weight:bold;border:none !important;color:#797979 !important;}
.ring-sizer-button-sm{padding-top:7px !important;padding-bottom:6px !important;z-index:0 !important;width:100%;background-color:#FFFFFF !important;font-family:'leela';border-radius:2px !important;font-size:28px !important;font-weight:bold;border:none !important;color:#797979 !important;}
.customize-button-structure{padding-bottom:30px;padding-top:15px;}
.customize-button-structure-sm{padding-bottom:15px;padding-top:30px;}
.customize-button{padding-top:15px !important;padding-bottom:15px !important;z-index:0 !important;width:100%;font-family:'leela';font-size:15px !important;border:none !important;text-transform:none;color:#ffffff !important;background-color:#E62739 !important;}
.customize-button-sm{padding-top:15px !important;padding-bottom:15px !important;z-index:0 !important;width:100%;font-family:'leela';font-size:32px !important;border:none !important;text-transform:none;color:#ffffff !important;background-color:#E62739 !important;}
.customize-modal-outer{border:1px solid #ababab !important;border-radius:3px !important;position:relative;background-color:#fff;background-clip:padding-box;outline:0;-webkit-box-shadow:0px 0px 24px -1px rgba(0,0,0,1);-moz-box-shadow:0px 0px 24px -1px rgba(0,0,0,1);box-shadow:0px 0px 24px -1px rgba(0,0,0,1);}
.customize-background-image{background:url('../images/mobile/product/customization/customize background.png') no-repeat;background-size:cover;}
.customize-modal-body{position:relative;padding:10px;}
.customize-heading{font-size:18px;font-family:'leela';font-weight:bold;color:#ffffff !important;text-align:center;}
.customize-steps{font-family:'leela';font-size:12px;color:#ffffff !important;text-align:center;margin:0px;}
.customize-fields{border:none;border-bottom:1px solid #c8c8c8;outline:none;padding-bottom:5px;color:#b2b2b2;font-family:'leela';width:100%;}
.customize-credential{font-size:14px;font-family:'leela';}
.customize-comments{border:1px solid #c8c8c8;outline:none;margin-top:0px;margin-bottom:0px;height:50px;width:100%;color:#b2b2b2;}
.upload-image{color:#e62739 !important;text-decoration:underline;font-family:leela;font-size:13px;}
.nv-file-over{border:dotted 3px red;}
canvas{background-color:#f3f3f3;-webkit-box-shadow:3px 3px 3px 0 #e3e3e3;-moz-box-shadow:3px 3px 3px 0 #e3e3e3;box-shadow:3px 3px 3px 0 #e3e3e3;border:1px solid #c3c3c3;height:50px;margin:6px 0 0 6px;}
.fileinput-button{position:relative;overflow:hidden;display:inline-block;}
.fileinput-button input{position:absolute;top:0;right:0;margin:0;opacity:0;-ms-filter:'alpha(opacity=0)';font-size:200px !important;direction:ltr;cursor:pointer;}
@media screen\9{.fileinput-button input{filter:alpha(opacity=0);font-size:100%;height:100%;}
}
.customization-submit-button{font-family:'leela';font-size:18px;font-weight:bold;color:#ffffff !important;background-color:#E62739;padding-left:20px;padding-right:20px;padding-top:10px;padding-bottom:10px;border:none;}
.social-share-background{padding-top:5px;padding-bottom:5px;padding-left:0px !important;padding-right:0px !important;background-color:white;background-color:white;border-radius:5px;}
ul.social-network{list-style:none;display:inline;margin-left:0 !important;padding:0;}
ul.social-network li{display:inline;margin:0 5px;}
.social-circle li a{display:inline-block;position:relative;margin:0 auto 0 auto;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;text-align:center;width:50px;height:50px;font-size:20px;}
.social-circle li i{margin:0;line-height:50px;text-align:center;}
.social-circle i{color:#E62739;-webkit-transition:all 0.8s;-moz-transition:all 0.8s;-o-transition:all 0.8s;-ms-transition:all 0.8s;transition:all 0.8s;}
.our-commitment-structure{width:100%;border-radius:5px;}
.tab-heading-structure{padding:15px 10px !important;}
.tab-heading-position{padding-left:20px;font-weight:bold;}
.tab-heading-position-sm{padding-left:40px;}
.glyphicon-colour{color:#68b0d8 !important;}
.glyphicon-colour-sm{color:#68b0d8 !important;padding-right:30px;}
.star-1{color:#0abebb !important;}
.star-2{color:#3dc4b3 !important;}
.star-3{color:#59c798 !important;}
.star-4{color:#8acb7b !important;}
.star-5{color:#b4cf68 !important;}
.rating-parameter{color:#686d70 !important;}
.rating-parameter-sm{font-size:25px;color:#606060 !important;}
.review-text{color:#606060 !important;margin-bottom:10px;}
.review-text-sm{color:#606060 !important;margin-bottom:10px;font-weight:bold;margin-bottom:10px;font-size:25px;}
.review-textarea{resize:none;width:100%;}
.submit-review-button{font-family:'leela';font-size:20px !important;text-align:center !important;text-transform:none;z-index:0 !important;background-color:#E62739 !important;padding-top:13px !important;padding-bottom:13px !important;padding-left:10px !important;padding-right:10px !important;color:#ffffff !important;margin-top:10px;width:100%;border-radius:0px !important;}
.submit-review-button-sm{font-family:'leela';font-size:25px !important;font-weight:bold;text-align:center !important;text-transform:none;z-index:0 !important;background-color:#E62739 !important;padding-top:13px !important;padding-bottom:13px !important;padding-left:10px !important;padding-right:10px !important;color:#ffffff !important;margin-top:10px;width:100%;border-radius:0px !important;}
.overall-rating-struture{font-weight:bold;font-family:'leela';font-size:20px;border-bottom:1px solid #dedede;padding-bottom:10px;padding-top:10px;}
.overall-rating-struture-sm{font-weight:bold;font-family:'leela';font-size:25px;border-bottom:1px solid #dedede;padding-bottom:30px;}
.overall-parameter{font-family:'leela';font-size:17px;color:#686d70 !important;}
.overall-parameter-sm{font-family:'leela';font-size:25px;color:#686d70 !important;}
.overall-parameter-value{font-family:'leela';margin-top:33px;padding-right:0px !important;padding-left:10px !important;}
.overall-parameter-value-sm{font-family:'leela';font-size:25px;padding-top:35px;}
.overall-parameter-colour{color:#9da0a7 !important;}
.customer-review{font-size:20px;font-family:'leela';margin-top:20px;margin-bottom:40px;}
.customer-review-sm{font-weight:bold;font-family:'leela';margin-top:40px;margin-bottom:20px;font-size:32px;}
.user-rating-text{margin-bottom:0px;color:#3b4350 !important;padding-top:20px;}
.user-rating-text-sm{margin-bottom:0px;color:#3b4350 !important;padding-top:20px;font-size:25px;padding-left:25px;}
.user-rating-parameters{color:#e62a3b !important;font-weight:bold;font-size:12px;}
.user-rating-parameters-sm{color:#e62a3b !important;font-weight:bold;font-size:25px;padding-left:23px;}
.reviewer-name{margin-top:30px;font-family:'leela';font-weight:bold;margin-bottom:0px;text-transform:uppercase;}
.reviewer-name-sm{margin-top:40px;font-family:'leela';font-weight:bold;text-transform:uppercase;font-size:25px;}
.created-at-sm{font-family:'leela';margin-bottom:15px;font-size:20px;}
.user-review{font-family:'leela';margin-bottom:10px;color:#3b4350;}
.user-review-sm{font-family:'leela';margin-bottom:10px;font-size:25px;}
.write-review-sm{margin-top:20px;font-family:'leela';font-size:25px;}
.review-title-sm{font-weight:bold;margin:0px;font-size:30px;}
.rate-how-sm{margin-top:20px;font-family:'leela';font-size:25px;}
.product-from-same-jeweller-heading{color:#606060 !important;font-size:18px;font-family:'raleway';font-weight:bolder;padding-top:30px;padding-bottom:12px;}
.buy-now-button{padding-top:10px !important;width:100%;padding-bottom:12px !important;font-family:'leela';border-radius:0 !important;font-size:15px !important;background-color:#e62739;color:white !important;}
.add-to-cart-button{padding-top:10px !important;width:100%;padding-bottom:12px !important;font-family:'leela';border-radius:0 !important;font-size:15px !important;padding-left:15px !important;background-color:#888888;color:white !important;}
.lookbook-title{font-family:'leela';font-size:11px;margin:0px;font-weight:bold;text-align:center;}
.lookbook-title-height{background-color:white;padding:5px !important;height:55px;}
.lookbook-title-height-sm{background-color:white;padding:5px !important;height:66px;}
.lookbook-footer-height{background-color:white;padding:5px !important;height:40px;}
.lookbook-title-sm{font-family:'leela';font-size:20px;margin:0px;font-weight:bold;text-align:center;}
.category{font-size:11px;font-family:'leela';padding:0px !important;font-weight:bold;}
.category-sm{background-color:white;border-radius:2px;font-family:'leela';font-size:20px;padding-top:10px;padding-bottom:10px;font-weight:bold;}
.created{text-align:right;font-size:11px;font-family:'leela';font-weight:bold;padding:0px !important;}
.lookbook-category-text{font-family:'leela';font-size:15px;}
.lookbook-category-text-sm{font-family:'leela';font-size:20px;}
.article-title{font-family:'leela';font-size:15px;color:#606060 !important;font-weight:bold;padding-top:20px;}
.article-title-sm{font-family:'leela';font-size:32px;color:#606060 !important;font-weight:bold;padding-top:30px;}
.prev-next{font-size:15px;}
.browse-button{z-index:0 !important;background-color:#e62739;border-radius:0px !important;color:white !important;font-family:'leela';font-size:15px !important;}
.browse-button-sm{z-index:0 !important;background-color:#e62739;border-radius:0px !important;color:white !important;font-family:'leela';font-size:25px !important;}
.heading{font-size:18px;font-family:'leela';color:#797979 !important;margin-bottom:15px;}
.contact-information{font-size:14px;font-family:'leela';color:#797979 !important;margin-bottom:0px;}
.have-a-query{font-family:'leela';font-size:14px;font-weight:bold;color:#797979 !important;background-color:#ffd2d2;padding-top:10px;padding-bottom:10px;}
.contact-fields{border:none;border-bottom:1px solid #c8c8c8;outline:none;color:#b2b2b2;background-color:#e5e5e5;width:100%;}
.contact-fields-background{background-color:#e5e5e5;}
.proceedbutton{z-index:0 !important;padding-left:0px;padding-right:0px;padding-top:13px !important;padding-bottom:13px !important;font-family:'leela';font-size:18px !important;width:100%;margin-top:10px;border-radius:0px !important;}
.google-maps{position:relative;padding-bottom:75%;height:0;overflow:hidden;}
.google-maps iframe{position:absolute;top:0;left:0;width:100% !important;height:100% !important;}
.about-styling{font-family:'leela';font-size:15px;text-align:justify;padding-right:20px;padding-left:20px;}
.about-styling-sm{font-family:'leela';font-size:17px;text-align:justify;padding-right:20px;padding-left:20px;}
.privacy-heading{color:#E62739 !important;font-family:'leela';font-weight:bold;padding-right:20px;padding-left:20px;margin-top:20px;padding:0px;}
.privacy-heading-sm{color:#E62739 !important;font-family:'leela';font-weight:bold;padding-right:20px;padding-left:20px;margin-top:20px;font-size:25px;padding:0px;}
table{border-collapse:collapse;border-spacing:0;}
.register_account{padding:1% 0;}
.register_account table td{width:100%;}
.register_account form input[type="email"],
.register_account form select{font-size:0.95em;color:#777;padding:8px;outline:none;margin:10px 0;width:100%;font-family:'Exo 2', sans-serif;border:none;box-shadow:0 0 2px #aaa;-webkit-box-shadow:0 0 2px #aaa;-moz-box-shadow:0 0 2px #aaa;-o-box-shadow:0 0 2px #aaa;}
.register_account form input[type="email"]:hover,
.register_account form select:hover{box-shadow:0 0 4px #aaa;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;-o-box-shadow:0 0 4px #aaa;}
.register_account form input[type="email"].code{width:15%;}
.register_account form input[type="email"].number{width:69.8%;}
.register_account form input[type="password"],
.register_account form select{font-size:0.95em;color:#777;padding:8px;outline:none;margin:10px 0;width:100%;font-family:'Exo 2', sans-serif;border:none;box-shadow:0 0 2px #aaa;-webkit-box-shadow:0 0 2px #aaa;-moz-box-shadow:0 0 2px #aaa;-o-box-shadow:0 0 2px #aaa;}
.register_account form input[type="password"]:hover,
.register_account form select:hover{box-shadow:0 0 4px #aaa;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;-o-box-shadow:0 0 4px #aaa;}
.register_account form input[type="password"].code{width:15%;}
.register_account form input[type="password"].number{width:69.8%;}
.register_account form input[type="text"],
.register_account form select{font-size:0.95em;color:#777;padding:8px;outline:none;margin:10px 0;width:100%;font-family:'Exo 2', sans-serif;border:none;box-shadow:0 0 2px #aaa;-webkit-box-shadow:0 0 2px #aaa;-moz-box-shadow:0 0 2px #aaa;-o-box-shadow:0 0 2px #aaa;}
.register_account form input[type="text"]:hover,
.register_account form select:hover{box-shadow:0 0 4px #aaa;-webkit-box-shadow:0 0 4px #aaa;-moz-box-shadow:0 0 4px #aaa;-o-box-shadow:0 0 4px #aaa;}
.register_account form input[type="text"].code{width:15%;}
.register_account form input[type="text"].number{width:69.8%;}
.vivo-login-panel{padding:40px;background-color:#ffffff;opacity:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.input-border{border-bottom:1px solid #888888 !important;border-right:1px solid #888888 !important;border-left:1px solid #888888 !important;border-radius:0px !important;padding-top:0px !important;height:20px;box-shadow:none !important;width:75% !important;padding-bottom:0 !important;margin-bottom:0px !important;}
.placeholdlight{font-family:'leela';font-size:15px;}
.nav-tabs>li{width:50%;}
.nav-tabs>li>a{border-radius:0px !important;}
.login-text-styling{font-family:'leela';font-size:20px;}
.register_account form input[type="text"]:invalid{color:red;}
.register_account form input[type="text"]:valid{color:green;}
.register_account form input[type="email"]:invalid{color:red;}
.register_account form input[type="email"]:valid{color:green;}
.register_account form input[type="numeric"]:invalid{color:red;}
.register_account form input[type="numeric"]:valid{color:green;}
.terms-conditions-position{padding:25px;}
.width-20-percent{width:20px;}
.border-bottom-none{border-bottom:none !important;}
.required-star{color:#E62739 !important;font-size:15px;top:0;}
.create-account-button{margin-top:20px;border-radius:0px !important;z-index:0 !important;width:80%;font-family:'leela';font-size:18px !important;text-transform:uppercase;color:#ffffff !important;background-color:#E62739 !important;border-color:#E62739 !important;}
.or-text{margin-top:30px;margin-bottom:30px;font-family:'leela';font-size:13px;font-weight:bold;}
or-text-sm{margin-top:30px;margin-bottom:30px;font-family:'leela';font-size:15px;font-weight:bold;}
.facebook-login-button-structure{border-radius:0px !important;color:white !important;background-color:#297fb8 !important;border-color:#297fb8 !important;padding:10px 16px !important;width:80%;z-index:0 !important;font-family:'leela';font-size:14px !important;text-align:center !important;text-transform:uppercase;}
.google-plus-login-button-structure{border-radius:0px !important;color:white !important;background-color:#e84c3d !important;border-color:#e84c3d !important;padding:10px 16px !important;width:80%;z-index:0 !important;font-family:'leela';font-size:14px !important;text-align:center !important;text-transform:uppercase;}
.steps-side-space{padding-left:9px !important;padding-right:9px !important;}
.steps-side-space-sm{padding-left:10px !important;padding-right:10px !important;}
.vivo-panel{padding-top:20px;padding-left:20px;padding-right:20px;padding-bottom:20px;background-color:#ffffff;opacity:1;height:400px;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:0 0 0px 1px #000;}
.btn-vivo-checkout{z-index:0;color:#fff !important;background-color:#E62739 !important;border-color:#E62739 !important;font-size:18px;}
.price_box_checkout_page-sm{background:white;border:2px solid #d8d8d8;box-shadow:2px 2px 10px 1px #d8d8d8;margin-bottom:10px;margin-left:0px;font-size:15px;font-weight:bold;}
.rightfont{font-family:'leela' !important;font-size:13px;text-align:right;text-transform:capitalize;}
.leftfont{font-family:'leela' !important;font-size:13px;text-align:left;text-transform:capitalize;margin-bottom:0px;}
.rightfont-sm{font-family:'leela' !important;font-size:13px;text-align:right;}
.leftfont-sm{font-family:'leela' !important;font-size:13px;text-align:left;}
.promocode{background-color:#f2f2f2;width:100%;color:black;border:none;margin-right:0px;height:30px;margin-top:0px;}
.promocode-sm{padding:10px !important;background-color:#f2f2f2;width:100%;color:black;border:none;margin-right:0px;border-radius:0px;height:39px;margin-top:1px;}
.checkout-confirmorder-styling-main{font-size:15px;font-family:'leela';font-weight:bold;}
.checkout-confirmorder-styling{font-size:15px;font-family:'leela';}
.login-text-styling{font-family:'leela';font-size:17px !important;}
.tab-heading-text{color:#E62739 !important;font-family:'leela';font-size:15px;font-weight:bold;}
.tab-heading-text-sm{color:#E62739 !important;font-family:'leela';font-size:25px;font-weight:bold;}
.remove-link{font-family:'leela';color:#e62739 !important;font-size:10px;}
.remove-link-sm{font-family:'leela';color:#e62739 !important;font-size:12px;}
.remove-icon-structure{height:15px;padding-right:5px;}
.product-checkout-title{color:#000 !important;font-weight:bold;text-transform:capitalize;font-family:'leela';font-size:15px;margin:0px;}
.product-checkout-title-sm{color:#000 !important;font-weight:bold;text-transform:capitalize;font-family:'leela';font-size:20px;margin:0px;}
.product-image-border{border:1px solid #eee;}
.quantity-structure{padding-left:9px !important;padding-right:0px !important;}
.subtract-quantity-button{z-index:0 !important;padding-left:3px !important;padding-right:3px !important;border-radius:3px !important;background-color:#e62739;color:#ffffff !important;}
.subtract-quantity-button-sm{z-index:0 !important;padding-left:10px !important;padding-right:10px !important;border-radius:3px !important;background-color:#e62739;color:#ffffff !important;}
.add-quantity-button{z-index:0 !important;padding-left:2px !important;padding-right:2px !important;border-radius:3px !important;background-color:#e62739;color:#ffffff !important;}
.add-quantity-button-sm{z-index:0 !important;padding-left:10px !important;padding-right:10px !important;border-radius:3px !important;background-color:#e62739;color:#ffffff !important;}
.free-gift-text-structure{padding-top:20px;padding-bottom:15px;}
.free-gift-text{font-size:20px;font-weight:bold;font-family:'leela';color:#e62739 !important;}
.combo-title-structure{padding-right:0px;padding-bottom:15px;}
.combo-title{color:#000 !important;font-weight:bold;font-family:'leela';font-size:15px;}
.promocode-input-position{font-family:'leela';font-size:12px;padding-right:0px !important;}
.promocode-input-position-sm{font-family:'leela';font-size:15px;padding-left:0px !important;padding-right:0px !important;padding-top:20px;}
.apply-promocode-button{z-index:0 !important;font-family:'leela';font-size:12px !important;padding-bottom:5px !important;text-transform:capitalize;border-radius:0px !important;color:white !important;background-color:#E62739 !important;border-color:#E62739 !important;width:100%;}
.apply-promocode-button-sm{z-index:0 !important;font-family:'leela';font-size:15px !important;padding-top:9px !important;padding-bottom:9px !important;text-transform:capitalize;border-radius:0px !important;color:white !important;background-color:#E62739 !important;border-color:#E62739 !important;width:100%;}
.apply-button-position-sm{padding-left:0px !important;padding-right:0px !important;padding-top:20px;}
.price_box_checkout_page{background:white;border:2px solid #d8d8d8;box-shadow:2px 2px 10px 1px #d8d8d8;margin-bottom:10px;margin-left:0px;font-size:16px;font-weight:bold;}
.total-price-text{color:#E62739 !important;font-weight:bold;font-family:'leela';font-size:13px;}
.total-price-text-sm{color:#E62739 !important;font-weight:bold;font-size:15px;height:18px;margin-top:13px;}
.total-text-structure-sm{text-align:center;margin-top:18px;padding-right:0px !important;}
.promocode-applied-text{color:#E62739 !important;font-weight:bold;font-family:'leela ';font-size:10px;}
.promocode-applied-text-sm{color:#E62739 !important;font-weight:bold;font-family:'leela ';font-size:12px;}
.yes-no-text{font-family:'leela';font-size:13px;top:2px;color:black !important;}
.instruction-textarea{background-color:#eee;border-radius:0px;width:100% !important;resize:none;}
.proceedbutton-checkout{z-index:0 !important;padding-left:0px !important;padding-right:0px !important;padding-top:15px !important;padding-bottom:12px !important;margin-top:30px;font-family:'leela';font-size:15px !important;background-color:#e62739;color:#ffffff !important;text-transform:uppercase;width:100%;border-radius:0px !important;}
.proceedbutton-checkout-sm{z-index:0 !important;padding-left:0px !important;padding-right:0px !important;padding-top:15px !important;padding-bottom:12px !important;margin-top:41px;font-family:'leela';font-size:20px !important;background-color:#e62739;color:#ffffff !important;text-transform:uppercase;width:100%;border-radius:0px !important;}
.continue-shopping-text-position{text-align:right;margin-top:20px;margin-bottom:20px;}
.continue-shopping-text{color:#E62739 !important;text-decoration:underline;font-family:'leela';font-size:12px;}
.continue-shopping-text-position-sm{text-align:right;margin-top:20px;margin-bottom:20px;}
.continue-shopping-text-sm{color:#E62739 !important;text-decoration:underline;font-family:'leela';font-size:15px;}
.create-account-button-sm{z-index:0 !important;padding-top:13px !important;padding-bottom:13px !important;font-family:'leela';text-transform:uppercase;font-size:18px !important;width:50%;margin-top:10px;border-radius:0px !important;background-color:#E62739 !important;color:#ffffff !important;}
.same-billing-address-position{font-family:'leela';text-align:center;font-size:13px;vertical-align:middle;font-weight:normal;}
.checkout-address-textarea{resize:none;margin-top:10px;border-top:none;height:60px;}
.product-summary-credentials{padding-bottom:30px;border-bottom:1px solid #eeeeee;}
.product-summary-structure{height:160px;padding-bottom:0px;padding-top:20px;border-bottom:1px solid #eee;box-shadow:none;padding-left:0px !important;padding-right:0px !important;}
.product-summary-structure-sm{height:320px;padding-bottom:0px;padding-top:20px;border-bottom:1px solid #eee;box-shadow:none;padding-left:0px !important;padding-right:0px !important;}
.grand-total-text{font-family:'leela';font-weight:bold;margin-bottom:20px;padding:20px;border-bottom:1px solid #eee;font-size:18px;text-transform:uppercase;}
.grand-total-text-sm{font-family:'leela';font-weight:200;margin-bottom:20px;padding:20px;border-bottom:1px solid #eee;font-size:16px;text-transform:uppercase;font-weight:bold}
.order-placed-text{font-family:'leela';font-weight:bold;font-size:15px;text-transform:uppercase;}
.order-placed-text-sm{font-family:'leela';font-weight:bold;font-size:20px;text-transform:uppercase;}
.home-button{text-transform:uppercase;z-index:0 !important;color:#fff !important;background-color:#E62739 !important;border-color:#E62739 !important;font-family:'leela' !important;border-radius:0px !important;font-size:15px !important;width:100%;}
.home-button-sm{text-transform:uppercase;z-index:0 !important;color:#fff !important;background-color:#E62739 !important;border-color:#E62739 !important;font-family:'leela' !important;border-radius:0px !important;font-size:17px !important;width:100%;}
.payment-title{color:#E62739 !important;font-family:'leela';font-weight:bold;}
.home-panel-row{margin-top:10px;padding:0px;}
.credfont{font-family:'leela' !important;font-weight:600;margin-bottom:25px !important;font-size:13px;color:#888888 !important;}
.credsfont{font-family:'leela' !important;font-weight:600;font-size:13px;color:#888888 !important;margin-bottom:25px !important;}
.credfont-sm{font-family:'leela' !important;font-weight:600;margin-bottom:25px !important;font-size:16px;color:#888888 !important;}
.credsfont-sm{font-family:'leela' !important;font-weight:600;font-size:16px;color:#888888 !important;margin-bottom:25px !important;}
.my-account-text{margin-top:10px;font-weight:normal;font-size:20px !important;text-align:center;font-family:'leela';text-transform:uppercase;}
.edit-button{z-index:0 !important;width:180px;font-family:'leela';font-size:16px !important;text-transform:uppercase;border-radius:0px !important;color:#ffffff !important;background-color:#E62739 !important;}
.extra-margin{margin-bottom:20px !important;font-family:'leela';color:#eee !important;}
.borderfinish{border-radius:0px !important;border:none !important;}
.process-row{display:table-row;}
.process{display:table;width:100%;position:relative;background-color:#eee;margin-bottom:20px;}
.process-step button[disabled]{opacity:1 !important;filter:alpha(opacity=100) !important;}
.process-row:before{top:50px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;z-index:0;}
.process-step{display:table-cell;text-align:center;position:relative;height:50px;}
.process-step p{margin-top:10px;}
.btn-circle{width:100px;height:100px;text-align:center;padding:6px 0;font-size:12px;line-height:1.428571429;border-radius:15px;}
.feedback-style{font-family:'leela';font-size:8px;letter-spacing:0px;}
.feedback-style-sm{font-family:'leela';font-size:15px;letter-spacing:0px;}
.order-id{font-family:'leela';color:#E62739 !important;font-size:15px;font-weight:bold;text-transform:uppercase;margin-bottom:10px;}
.order-placed-on{font-family:'leela';font-weight:bold;font-size:15px;margin-bottom:20px;}
.total-order-amount{font-family:'leela';font-weight:bold;font-size:15px;text-transform:uppercase;}
.size-text{font-family:'leela';font-weight:bold;font-size:15px;}
.cancel-button{color:#ffffff !important;font-size:12px !important;background-color:#e62739;border-radius:0px !important;z-index:0 !important;}
.wishlist-structure{height:225px;padding-bottom:0px;border-top:1px solid #eee;border-bottom:1px solid #eee;box-shadow:none;margin-bottom:30px;padding-left:0px !important;padding-right:0px !important;}
.grid-price-before{text-decoration:line-through;padding:2px;padding-left:7px;font-family:'leela';font-size:12px;color:#797979 !important;}
.grid-price-after{font-weight:bold;color:#797979 !important;font-family:'leela';font-size:17px;color:#797979 !important;}
.grid-off{padding:2px;font-family:'leela';font-size:12px;color:#797979 !important;}
.grid-price-before-sm{text-decoration:line-through;padding:2px;padding-left:7px;font-family:'leela';font-size:15px;color:#797979 !important;}
.grid-price-after-sm{font-weight:bold;color:#797979 !important;font-family:'leela';font-size:20px;}
.grid-off-sm{padding:2px;font-family:'leela';font-size:15px;color:#797979 !important;}
.menu-count{margin-left:20px;padding:5px;background-color:#E62739;color:white !important;border-radius:30px;border-radius:100%;padding-right:10px;padding-left:10px;}
.sideways{margin-top:50px;border:none;position:relative;}
.sideways>li{height:20px;width:120px;margin-bottom:100px;}
.sideways>li>a{border-bottom:1px solid #ddd;border-right-color:transparent;text-align:center;border-radius:4px 4px 0px 0px;}
.sideways>li.active>a,
.sideways>li.active>a:hover,
.sideways>li.active>a:focus{border-bottom-color:transparent;border-right-color:#ddd;border-left-color:#ddd;}
.sideways.tabs-left{left:-50px;}
.sideways.tabs-right{right:-50px;}
.sideways.tabs-right>li{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.sideways.tabs-left>li{-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);}
.wide{padding:0px;width:100%;font-family:'leela';}
.wide.active{background-color:white;}
.disabler{display:inline-block;max-width:100%;font-weight:100;font-family:'leela';font-size:13px;}
.vivo-grid{padding:3px;width:100%;}
.vivo-box-padding{padding:3px;}
.filter-header-text{color:#797979 !important;font-weight:200;padding-left:0px;text-transform:capitalize;font-size:13px;font-family:leela;}
.price_box_product_page{background:white;border:2px solid #d8d8d8;box-shadow:2px 2px 10px 1px #d8d8d8;padding:10px}
.inner_content{position:relative;border:1px solid #D8D8D8;}
.top-box1{margin-bottom:0px;}
.category-text{text-transform:uppercase;color:#E62739 !important;font-family:'leela';font-size:16px;margin-top:50px;font-weight:bold;}
.category-text-sm{text-transform:uppercase;color:#E62739 !important;font-family:'leela';font-size:15px;font-weight:bold}
.home-position{padding-bottom:10px;border-bottom:1px solid #eee;}
.tag{padding:0px 0px 10px 0px;position:absolute;left:0;top:0;}
.filter-sort-postion{position:fixed;z-index:4;width:100%;bottom:0px;}
.filter-button{position:fixed;font-family:'leela';text-transform:uppercase;color:white !important;background-color:#E62739;padding-top:12px;padding-bottom:12px;}
.sort-button{position:fixed;font-family:'leela';text-transform:uppercase;color:white !important;background-color:#888888;padding-top:12px;padding-bottom:12px;}
.filter-button-sm{position:fixed;font-family:'leela';text-transform:uppercase;color:white !important;font-size:16px;background-color:#E62739;padding-top:10px;padding-bottom:10px;background-color:#E62739;}
.sort-button-sm{position:fixed;font-family:'leela';text-transform:uppercase;color:white !important;font-size:16px;background-color:#888888;padding-top:10px;padding-bottom:10px;}
.sort-menu-position{box-shadow:0px 0px 2px 2px rgba(210, 210, 210, 0.59);z-index:3;position:fixed;bottom:0px;width:100%;height:40px;padding-top:10px;background-color:rgb(252, 252, 252);}
.filter-menu-position{position:fixed;top:55px;width:100%;color:white !important;padding-top:10px;padding-bottom:10px;text-align:center;}
.filter-menu-background{background-color:#f4f4f4;padding:0px !important;}
.apply-clear-filter-position{position:fixed;bottom:0;width:100%;z-index:4;}
.apply-filter-button{font-family:'leela';text-transform:uppercase;color:white !important;background-color:#E62739;padding-top:12px;padding-bottom:12px;}
.clear-filter-button{font-family:'leela';text-transform:uppercase;color:white !important;background-color:#888888;padding-top:12px;padding-bottom:12px;}
.chart-description{font-size:13px;font-family:'leela';font-weight:bold;padding-top:50px;padding-bottom:20px;}
@font-face{font-family:'vivo-header-gabriol';src:url('../fonts/GABRIOLA.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'raleway';src:url('../fonts/RALEWAY-REGULAR.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'muller';src:url('../fonts/MULLER-THIN.otf') format('opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'muller-bold';src:url('../fonts/MULLER-EXTRABOLD.otf') format('opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'leela';src:url('../fonts/Leelawadee.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'circe-light';src:url('../fonts/Circe light.otf') format('opentype');font-weight:normal;font-style:normal;}
@font-face{font-family:'circe-bold';src:url('../fonts/Circe bold.otf') format('opentype');font-weight:normal;font-style:normal;}
#drawer{position:fixed;top:0;left:0;bottom:0;width:300px;background:-webkit-linear-gradient(15deg, #ffffff, #ededed);background:linear-gradient(75deg, #ffffff, #ededed);-webkit-transform:translateX(-1000px) translateZ(0);transform:translateX(-1000px) translateZ(0);z-index:1101;overflow-y:scroll !important;text-transform:uppercase;}
#drawer .username{font-size:16px;left:0;line-height:28px;padding-bottom:15px;padding-left:15px;padding-top:13px;position:absolute;top:56px;width:100%;z-index:1110;}
#drawer .nav{height:100%;}
#drawer .nav li{border-bottom:1px solid #e3e3e3;font-size:14px;height:46px;line-height:46px;position:relative;width:100%;}
#drawer .nav li a{color:#333333;padding-left:15px !important;width:100%;display:block;font-family:'leela';}
#drawer .nav li a i{background-size:cover;display:inline-block;height:26px;left:-4px;position:relative;top:8px;width:26px;}
#drawer .nav .title{background:#dbdbdb;color:#4f4f4f;font-size:12px;height:26px;line-height:26px;padding-left:16px;}
#drawer .nav .bottom{border-top:1px solid #dbdbdb;background:#eee;position:absolute;left:0;bottom:0;width:100%;}
#drawer .nav .bottom li{border:none;}
#drawer .nav .bottom li a i{height:20px;width:20px;}
#drawer-dimm{position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);opacity:0;z-index:1100;visibility:hidden;}
#nav-toggle{position:fixed;top:18px;left:18px;z-index:2000;}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after{pointer-events:none;background:black;content:"";cursor:pointer;display:block;height:2px;position:absolute;width:18px;top:10px;-webkit-transition:all 260ms ease-in-out;transition:all 260ms ease-in-out;-webkit-transform:translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);transform:translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);z-index:1110;}
#nav-toggle span:before{top:-6px;}
#nav-toggle span:after{top:6px;}
#nav-toggle.active span{-webkit-transform:translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);transform:translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);}
#nav-toggle.active span:before,
#nav-toggle.active span:after{top:0;}
#nav-toggle.active span:before{-webkit-transform:translate3d(-3px, -4px, 0) rotate3d(0, 0, 1, -45deg);transform:translate3d(-3px, -4px, 0) rotate3d(0, 0, 1, -45deg);width:12px;}
#nav-toggle.active span:after{-webkit-transform:translate3d(-3px, 4px, 0) rotate3d(0, 0, 1, 45deg);transform:translate3d(-3px, 4px, 0) rotate3d(0, 0, 1, 45deg);width:12px;}
#swipe-stripe{width:15px;height:100%;position:fixed;top:0;left:0;background:transparent;z-index:1100;}
.add-panel .switch{z-index:99999;}
.add-panel .switch.active .option.one,
.add-panel .switch.active .option.two{z-index:99999;visibility:visible;opacity:1;}
.add-panel .switch.active .option.one{-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;-webkit-transform:translate(-4px, -122px) translateZ(0);transform:translate(-4px, -122px) translateZ(0);}
.add-panel .switch.active .option.two{-webkit-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s;-webkit-transform:translate(-4px, -66px) translateZ(0);transform:translate(-4px, -66px) translateZ(0);}
.add-panel .switch.active .plus{z-index:99999;visibility:visible;opacity:1;background:#ffffff !important;-webkit-transform:rotate(135deg) !important;-ms-transform:rotate(135deg) !important;transform:rotate(135deg) !important;}
.mob-top-pad{padding-top:55px !important;}
.add-panel .switch .option.one,
.add-panel .switch .option.two{position:fixed;visibility:hidden;opacity:0;}
.add-panel .switch .plus{background:#ffffff !important;-webkit-transition:all 0.2s ease-in-out 0s;transition:all 0.2s ease-in-out 0s;position:absolute;}
.add-panel .switch .action-button{position:fixed;bottom:88px;right:28px;width:56px;height:56px;z-index:100;background-color:#E53241 !important;text-align:center;line-height:56px;border-radius:100%;font-size:24px;}
.add-panel .switch .action-button.one,
.add-panel .switch .action-button.two{overflow:hidden;border-radius:100%;width:46px;height:46px;color:#ffffff;font-size:18px;line-height:49px;}
.add-panel .switch .action-button.single{bottom:33px;right:33px;}
.add-panel .switch .action-button.one{background:#F00D36;}
.add-panel .switch .action-button.two{background:#E53241;}
#topbar{position:absolute;top:0;left:0;right:0;line-height:55px;background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);color:#ffffff;z-index:110;height:55px;-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.43);-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.43);box-shadow:0px 0px 10px 1px rgba(0,0,0,0.43);}
#topbar .gravatar{bottom:20px;height:66px;overflow:hidden;position:absolute;right:20px;width:70%;}
#topbar .title{position:fixed;top:0;left:56px;line-height:56px;color:#ffffff;pointer-events:none;font-size:18px;z-index:1110;}
#topbar.fixed{position:fixed;}
#topbar.drawer{position:relative;}
#topbar.large{height:50px;background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);}
#topbar .city{float:right;font-size:12px;}
#topbarsm{position:absolute;top:0;left:0;right:0;height:56px;line-height:56px;background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);color:#ffffff;z-index:109;}
#topbarxs{position:absolute;top:0;left:0;right:0;height:56px;line-height:56px;background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);color:#ffffff;z-index:109;}
#topbar2 .gravatar{bottom:20px;height:66px;overflow:hidden;position:absolute;right:20px;width:150px;}
#topbar2 .title{position:fixed;top:0;left:56px;line-height:56px;color:#ffffff;pointer-events:none;font-size:18px;z-index:1110;}
#topbar2.fixed{position:fixed;}
#topbar2.drawer{position:relative;}
#topbar2.large{height:100px;background:rgba(255, 255, 255, 1);background:-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));background:-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);}
#topbar2 .city{float:right;font-size:12px;}
.page-not-found{padding:4% 0;}
.page-not-found h1{font-size:15em;color:#F0F0F0;text-align:center;text-shadow:1px 1px 6px #AAA;-moz-text-shadow:1px 1px 6px #aaa;-webkit-text-shadow:1px 1px 6px #aaa;-o-text-shadow:1px 1px 6px #aaa;}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;color:#000 !important;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{display:block;}
.wishlist{padding-top:250px;padding-left:20px;}
ol,
ul{list-style:none;margin:0;padding:0;}
blockquote,
q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
.clear{clear:both;}
nav.vertical ul li{display:block;}
nav.horizontal ul li{display:inline-block;}
img{max-width:100%;}
html,
body{background:#fff;overflow-x:hidden;max-width:100%;overflow-x:hidden;}
.wrap{width:80%;margin:0 auto;-moz-transition:all .2s linear;-webkit-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;}
.no-pad{padding:0px !important;}
.gothbody{font-family:'leela';font-size:20px;text-transform:uppercase;font-weight:normal;margin-bottom:100px;}
.btn{position:relative;text-align:center;z-index:9999;}
.btn a{border:none;color:#FFF;cursor:pointer;padding:12px 20px;display:inline-block;font-size:1em;outline:none;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;background:#4CB1CA;position:absolute;top:-90px;left:52px;}
.btn a:hover{background:#39a0b9;}
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{-webkit-transition:all 150ms ease-in-out;-moz-transition:all 150ms ease-in-out;-ms-transition:all 150ms ease-in-out;transition:all 150ms ease-in-out;}
.dropdown .selected::after,
.dropdown.scrollable div::after{-webkit-pointer-events:none;-moz-pointer-events:none;-ms-pointer-events:none;pointer-events:none;}
.dropdown{position:relative;width:120px;cursor:pointer;font-weight:200;background:none;padding:8px 0px 8px;color:#fff;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.dropdown.open{z-index:2;}
.dropdown:hover,
.dropdown.focus{}
.dropdown .carat,
.dropdown .carat:after{position:absolute;right:14px;top:50%;margin-top:-3px;border:6px solid transparent;border-top:6px solid #fff;z-index:1;-webkit-transform-origin:50% 20%;-moz-transform-origin:50% 20%;-ms-transform-origin:50% 20%;transform-origin:50% 20%;}
.dropdown:hover .carat:after{border-top-color:#f4f4f4;}
.dropdown.focus .carat{border-top-color:#f8f8f8;}
.dropdown.focus .carat:after{border-top-color:#0180d1;}
.dropdown.open .carat{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.dropdown .old{position:absolute;left:0;top:0;height:0;width:0;overflow:hidden;}
.dropdown select{position:absolute;left:0px;top:0px;}
.dropdown.touch select{left:0;top:0;width:100%;height:100%;opacity:0;}
.dropdown .selected,
.dropdown li{display:block;font-size:0.85em;overflow:hidden;white-space:nowrap;}
.dropdown .selected::after{content:'';position:absolute;right:0;top:0;bottom:0;width:60px;}
.dropdown:hover .selected::after,
.dropdown.focus .selected::after{}
.dropdown div{position:absolute;height:0;left:0;right:0;top:100%;margin-top:1px;background:#4CB1CA;overflow:hidden;opacity:0;color:#C0F3FF;}
.dropdown:hover div{background:#4CB1CA;}
.dropdown.open div{opacity:1;z-index:2;}
.dropdown.scrollable div::after{content:'';position:absolute;left:0;right:0;bottom:0;height:50px;}
.dropdown.scrollable:hover div::after{}
.dropdown.scrollable.bottom div::after{opacity:0;}
.dropdown ul{position:absolute;left:0;top:0;height:100%;width:100%;list-style:none;overflow:hidden;}
.dropdown.scrollable.open ul{overflow-y:auto;}
.dropdown li{list-style:none;padding:8px;border-bottom:1px solid #39A0B9;}
.dropdown li:last-child{border-bottom:0;}
.dropdown li.focus{background:#39A0B9;position:relative;z-index:3;color:#fff;}
.dropdown li.active{background:#39A0B9;color:#fff;}
@media (max-width:1366px){.wrap{width:90%;}
#products .pagination li a{width:96px;}
}
@media (max-width:1280px){.wrap{width:90%;}
#products .pagination li a{width:89px;}
}
@media (max-width:1024px){.wrap{width:90%;}
#products .pagination li a{width:89px;}
.megamenu>li>a{padding:8px 5px;}
.btn a{left:19px;padding:10px 15px;}
}
@media (max-width:800px){.wrap{width:90%;}
#products .pagination li a{width:89px;}
.btn a{left:12px;padding:6px 8px;top:-75px;font-size:0.85em;}
}
@media (max-width:768px){.wrap{width:97%;}
#products .pagination li a{width:89px;}
.btn a{left:12px;padding:6px 8px;top:-75px;font-size:0.85em;}
}
@media (max-width:640px){#products .pagination li a{width:89px;}
.btn a{left:12px;padding:6px 8px;top:-75px;font-size:0.85em;}
}
@media (max-width:480px){#products .pagination li a{width:89px;}
.btn a{left:12px;padding:6px 8px;top:-75px;font-size:0.85em;}
}
@media (max-width:320px){#products .pagination li a{width:89px;}
.btn a{left:12px;padding:6px 8px;top:-75px;font-size:0.85em;}
}