.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button{position:relative;display:block;}
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea{display:block;box-sizing:border-box;-moz-box-sizing:border-box;width:100%;height:39px;outline:none;border-width:2px;border-style:solid;border-radius:0;background:none;border:2px solid #fff;font-family:'Exo 2', sans-serif;font-size:0.85em;color:#78E3FD;appearance:normal;-moz-appearance:none;-webkit-appearance:none;}
/**//**/.sky-form .input-file .button{position:absolute;top:4px;right:4px;float:none;height:31px;margin:0;padding:0 20px;font-size:13px;line-height:31px;}
.sky-form .input-file .button:hover{box-shadow:none;}
.sky-form .input-file .button input{position:absolute;top:0;right:0;padding:0;font-size:30px;cursor:pointer;opacity:0;}
/**//**/.sky-form .label{display:block;margin-bottom:6px;line-height:19px;}
.w_sidebar h3{padding:0 20px 10px;font-size:1em;color:#555555;text-transform:uppercase;}
.sky-form{}
.row1{outline:none;padding:20px;overflow:auto;height:200px;}
.sky-form h4{color:#E22B46 !important;font-size:1.1em;padding:6px 10px;background:#B6B6B6;border:2px solid #E6E6E6;text-transform:uppercase;}
.sky-form section{}
.sky-form .label{display:block;margin-bottom:6px;line-height:19px;}
.sky-form .label.col{margin:0;padding-top:10px;}
.sky-form .input,
.sky-form .select,
.sky-form .textarea,
.sky-form .radio,
.sky-form .checkbox,
.sky-form .toggle,
.sky-form .button{position:relative;display:block;}
.sky-form .select i{position:absolute;top:14px;right:14px;width:10px;height:11px;background:#FFF;box-shadow:0 0 0 12px #FFF;}
.sky-form .select i:after,
.sky-form .select i:before{content:'';position:absolute;right:0;border-right:4px solid transparent;border-left:4px solid transparent;}
.sky-form .select i:after{bottom:0;border-top:4px solid #404040;}
.sky-form .select i:before{top:0;border-bottom:4px solid #404040;}
.sky-form .select-multiple select{height:auto;}
.sky-form .radio,
.sky-form .checkbox{outline:none;border:none;margin-bottom:4px;padding-left:27px;font-size:13px;line-height:27px;color:#555555;cursor:pointer;text-transform:capitalize;}
.sky-form .radio{text-transform:none;}
.sky-form .radio:last-child,
.sky-form .checkbox:last-child{margin-bottom:0;}
.sky-form .radio input,
.sky-form .checkbox input{position:absolute;left:-9999px;}
.sky-form .radio i,
.sky-form .checkbox i{position:absolute;top:5px;left:0;display:block;width:13px;height:13px;outline:none;border-width:2px;border-style:solid;background:#fff;}
.sky-form .radio i{border-radius:50%;}
.sky-form .radio input + i:after,
.sky-form .checkbox input + i:after{position:absolute;opacity:0;transition:opacity 0.1s;-o-transition:opacity 0.1s;-ms-transition:opacity 0.1s;-moz-transition:opacity 0.1s;-webkit-transition:opacity 0.1s;}
.sky-form .radio input + i:after{content:'';top:4px;left:4px;width:5px;height:5px;border-radius:50%;}
.sky-form .radio input:checked + i:after,
.sky-form .checkbox input:checked + i:after{opacity:1;}
.sky-form .inline-group{margin:0 -30px -4px 0;}
.sky-form .inline-group:after{content:'';display:table;clear:both;}
.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox{float:left;margin-right:30px;}
.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child{margin-bottom:4px;}
.sky-form .checkbox input + i:after{content:'\f00c';top:0px;left:-2px;width:15px;height:15px;background:url(../images/b-arrow.png);text-align:center;}
.sky-form .checkbox input + i:after{color:#2DA5DA;}
@font-face{font-family:'FontAwesome';src:url('../icons/fontawesome-webfont.eot?v=3.0.1');src:url('../icons/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('../icons/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('../icons/fontawesome-webfont.ttf?v=3.0.1') format('truetype');font-weight:normal;font-style:normal;}
.sky-form [class^="icon-"]{font-family:FontAwesome;font-style:normal;font-weight:normal;-webkit-font-smoothing:antialiased;}
.sky-form .input input,
.sky-form .select select,
.sky-form .textarea textarea,
.sky-form .radio i,
.sky-form .toggle i,
.sky-form .icon-append,
.sky-form .icon-prepend{border-color:#fff;transition:border-color 0.3s;-o-transition:border-color 0.3s;-ms-transition:border-color 0.3s;-moz-transition:border-color 0.3s;-webkit-transition:border-color 0.3s;}
.sky-form .checkbox i{border-color:#E5E5E5;}
.sky-form .toggle i:before{background-color:#2da5da;}
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .toggle:hover i{border-color:#C0F3FF;}
.sky-form .button:hover{opacity:1;}
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i{border-color:#C0F3FF;}
.sky-form .radio input + i:after{background-color:#2da5da;}
.sky-form .checkbox input + i:after{color:#2da5da;}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i{border-color:#2da5da;}
.sky-form .state-error input,
.sky-form .state-error select,
.sky-form .state-error textarea,
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i,
.sky-form .toggle.state-error i{background:#fff0f0;}
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i{background:#f0fff0;}
.sky-form .input.state-disabled input,
.sky-form .select.state-disabled,
.sky-form .textarea.state-disabled,
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled,
.sky-form .toggle.state-disabled,
.sky-form .button.state-disabled{cursor:default;opacity:0.5;}
.sky-form .input.state-disabled:hover input,
.sky-form .select.state-disabled:hover select,
.sky-form .textarea.state-disabled:hover textarea,
.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i,
.sky-form .toggle.state-disabled:hover i{border-color:#e5e5e5;}
.jspContainer{overflow:hidden;position:relative;}
.jspPane{position:absolute;outline:none;}
.jspVerticalBar{position:absolute;top:0;right:40px;width:3px;height:100%;}
.jspHorizontalBar{position:absolute;bottom:0;left:0;width:100%;height:16px;background:red;}
.jspCap{display:none;}
.jspHorizontalBar .jspCap{float:left;}
.jspTrack{background:#f0f0f0;position:relative;}
.jspDrag{background:#777777;position:relative;top:0;left:0;cursor:pointer;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{float:left;height:100%;}
.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer;padding:0;margin:0;}
.jspArrow.jspDisabled{cursor:default;background:#80808d;}
.jspVerticalBar .jspArrow{height:16px;}
.jspHorizontalBar .jspArrow{width:16px;float:left;height:100%;}
.jspVerticalBar .jspArrow:focus{outline:none;}
.jspCorner{background:#eeeef4;float:left;height:100%;}
@media (max-width:768px){.row1{width:700px !important;}
}
@media (max-width:640px){.row1{width:600px !important;}
}
@media (max-width:480px){.row1{width:300px !important;}
}
@media (max-width:320px){.row1{width:120px !important;}
}