#fwslider{position:relative;width:100%;height:300px;}
#fwslider .slide{display:none;position:absolute;top:0;left:0;z-index:0;width:100%;height:300px;}
#fwslider .slide img{width:100%;height:300px;}
#fwslider .slidePrev{position:absolute;top:50%;left:-50px;z-index:10;}
#fwslider .slidePrev span{background-image:url("../images/img-sprite.png");width:80px;height:70px;float:left;background-position:-12px -4px;background-repeat:no-repeat;cursor:pointer;}
#fwslider .slideNext{position:absolute;top:50%;right:-50px;z-index:10;}
#fwslider .slideNext span{background-image:url("../images/img-sprite.png");width:80px;height:70px;float:left;background-position:-110px -4px;background-repeat:no-repeat;cursor:pointer;}
#fwslider .timers{height:4px;position:absolute;bottom:15px;right:0;z-index:3;}
#fwslider .timer{height:4px;width:40px;background-color:#000;float:left;margin-right:10px;}
#fwslider .progress{height:4px;width:0%;background-color:#4cb1ca;float:left;}
#fwslider .slide_content{top:0;left:0;position:absolute;width:100%;height:50%;}
#fwslider .slide_content_wrap{max-width:1280px;margin:15% auto;}
#fwslider .title{margin-left:4%;text-transform:capitalize;color:#fff;font-size:2em;background:rgba(91, 89, 82, 0.4);padding:5px 20px;float:left;font-style:normal;text-transform:uppercase;border:none;}
#fwslider .description{margin-left:4%;opacity:0;color:#ffffff;font-size:2em;background:rgba(91, 89, 82, 0.4);padding:10px;clear:both;float:left;margin-top:3px;font-weight:bold;text-transform:uppercase;}
@media only screen and (min-width:720px) and (max-width:1300px){#fwslider .slide_content_wrap{margin-left:50px;margin-top:15%;}
#fwslider .title{font-size:26px;}
#fwslider .description{font-size:1.5em;}
}
@media only screen and (max-width:719px){#fwslider .slide_content_wrap{display:none;}
#fwslider .timers{display:none;}
#fwslider .slide_content{cursor:pointer;}
}
@media (max-width:1366px){#fwslider .description{margin-left:13%;}
#fwslider .title{margin-left:13%;}
}